## 리팩토링한 코드로 작성한 데이터를 전처리하는 프레임입니다.

#### 1. 모듈과 데이터를 불러옵니다. 불러온 데이터는 10~14년도 데이터입니다.

In [1]:
import os, sys
path_name= os.path.dirname(os.path.abspath(os.path.dirname(os.getcwd())))
sys.path.append(path_name)
print(path_name)

C:\Nextop\nextop-engine\nextop_engine

In [2]:
from _element import feature_control as ft_c
from _element.data_control import Data, DataRestruction, DataAddition
from _element import varr
from _element import calculations as calc
from _element.result_control import Result

from _alg.prophet import Prophet_timeseries
from _alg.arima import Arima_timeseries

from _evaluation.cross_validation import Cross_Validation

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.mixture import GaussianMixture

In [4]:
INPUT_FILENAME= 'KPP_계약처_입고출고(2010-2014).xlsx'
df_raw= ft_c.xlsx_opener(INPUT_FILENAME)

In [5]:
df_raw.head()

   타입      코드       발송일    유형코드  수량
0  입고  298137  20100101  1815.0  47
1  입고  298115  20100101  1815.0  77
2  입고  298108  20100101  1815.0   4
3  입고  298053  20100101  1815.0  56
4  입고  297994  20100101  1815.0  51

#### 2. 입고 데이터와 출하 데이터를 구분합니다.

In [6]:
df_in= df_raw[df_raw['타입']== '입고']

In [7]:
df_out= df_raw[df_raw['타입']== '출하']

In [8]:
data_out= Data()

In [9]:
data_out.setRawData(df_out)

     타입      코드       발송일    유형코드   수량
928  출하  298152  20100101  1815.0    3
929  출하  298152  20100101  1692.0    7
930  출하  298141  20100101  1815.0   27
931  출하  298122  20100101  1692.0    3
932  출하  298115  20100101  1815.0  768
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3922661 entries, 928 to 327922
Data columns (total 5 columns):
타입      object
코드      int64
발송일     int64
유형코드    float64
수량      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 179.6+ MB
None

#### 3. 출하 데이터를 일자/유형별로 정리합니다.

In [10]:
restruct= DataRestruction(data_out)

In [11]:
restruct.groupbyObject(idx_col= '발송일', ft_col= '유형코드', val_col= '수량', y_sum= True, idx_to_datetime= True)

In [12]:
restruct.data[frozenset({'raw'})].columns= restruct.data[frozenset({'raw'})].columns.map(lambda x: int(x) if type(x)==float else x)

In [13]:
restruct.commitRestructedData()

          ds  1025  1032    1041  1057   1091  1101  1111  1117  1127  \
0 2010-01-01   0.0   0.0  1299.0   0.0   92.0   0.0   0.0   0.0   0.0
1 2010-01-02  10.0   0.0   455.0   0.0   80.0   0.0   0.0   0.0   0.0
2 2010-01-03   0.0   0.0   132.0   0.0    4.0   0.0   0.0   0.0   0.0
3 2010-01-04   1.0   0.0  1952.0   0.0  356.0   0.0   0.0   0.0   0.0
4 2010-01-05   0.0   0.0  2077.0   0.0  367.0   0.0   0.0   0.0   2.0

     ...     1797  1800      1815  1817  1818  1852    1853    1878  1891  \
0    ...     96.0   0.0  647711.0   0.0   0.0   0.0   380.0  2042.0  40.0
1    ...      5.0   0.0   38071.0  10.0   0.0   0.0   496.0  3794.0   0.0
2    ...      0.0   0.0    6840.0   0.0   0.0   0.0   100.0    27.0   0.0
3    ...     37.0   0.0   42383.0  34.0   0.0   0.0  4317.0  8221.0   0.0
4    ...      7.0   0.0   58017.0  27.0   0.0   0.0  4321.0  6588.0   6.0

      y_sum
0  667170.0
1   51089.0
2    8901.0
3   74659.0
4   90428.0

[5 rows x 39 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 39 columns):
ds       1826 non-null datetime64[ns]
1025     1826 non-null float64
1032     1826 non-null float64
1041     1826 non-null float64
1057     1826 non-null float64
1091     1826 non-null float64
1101     1826 non-null float64
1111     1826 non-null float64
1117     1826 non-null float64
1127     1826 non-null float64
1163     1826 non-null float64
1216     1826 non-null float64
1242     1826 non-null float64
1261     1826 non-null float64
1324     1826 non-null float64
1355     1826 non-null float64
1373     1826 non-null float64
1375     1826 non-null float64
1376     1826 non-null float64
1396     1826 non-null float64
1466     1826 non-null float64
1584     1826 non-null float64
1627     1826 non-null float64
1652     1826 non-null float64
1656     1826 non-null float64
1692     1826 non-null float64
1729     1826 non-null float64
1745     1826 non-null float64
1754     1826 non-null float64
1797     1826 non-null float64
1800     1826 non-null float64
1815     1826 non-null float64
1817     1826 non-null float64
1818     1826 non-null float64
1852     1826 non-null float64
1853     1826 non-null float64
1878     1826 non-null float64
1891     1826 non-null float64
y_sum    1826 non-null float64
dtypes: datetime64[ns](1), float64(38)
memory usage: 556.4 KB
None

In [14]:
df_raw.to_pickle('C:\\Nextop\\nextop-engine\\nextop_engine\\_element\\data\\private_IO\\KPP_계약처_입고출고(2010-2014).pickle')

In [15]:
data_out.data[frozenset({'raw'})].to_pickle('C:\\Nextop\\nextop-engine\\nextop_engine\\_element\\data\\private_IO\\KPP_계약처_입고출고(2010-2014)_daily_obj.pickle')

#### 15년~17년 데이터를 불러와 동일한 전처리를 수행합니다.

In [16]:
INPUT_FILENAME= 'KPP_계약처_입고출고(2015-2017).xlsx'
df_raw2015= ft_c.xlsx_opener(INPUT_FILENAME)

In [17]:
df_raw2015.head()

   타입      코드       발송일    유형코드    수량
0  입고  298152  20150101  1815.0    40
1  입고  298045  20150101  1815.0    83
2  입고  298031  20150101  1891.0     5
3  입고  298023  20150101  1815.0  1145
4  입고  298009  20150101  1853.0  1141

In [18]:
df_in2015= df_raw2015[df_raw2015['타입']== '입고']

In [19]:
df_out2015= df_raw2015[df_raw2015['타입']== '출하']

In [20]:
data_out2015= Data()

In [21]:
data_out2015.setRawData(df_out2015)

        타입      코드       발송일    유형코드   수량
270062  출하  298152  20150101  1692.0  149
270063  출하  298137  20150101  1815.0   19
270064  출하  298064  20150101  1878.0  752
270065  출하  298045  20150101  1815.0   32
270066  출하  298038  20150101  1815.0   19
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3181370 entries, 270062 to 605881
Data columns (total 5 columns):
타입      object
코드      int64
발송일     int64
유형코드    float64
수량      int64
dtypes: float64(1), int64(3), object(1)
memory usage: 145.6+ MB
None

In [22]:
restruct2015= DataRestruction(data_out2015)

In [23]:
restruct2015.groupbyObject(idx_col= '발송일', ft_col= '유형코드', val_col= '수량', y_sum= True, idx_to_datetime= True)

In [24]:
restruct2015.data[frozenset({'raw'})].columns= restruct2015.data[frozenset({'raw'})].columns.map(lambda x: int(x) if type(x)==float else x)

In [25]:
restruct2015.commitRestructedData()

          ds  1025  1032    1041  1057  1091  1101  1119  1127  1216  \
0 2015-01-01   0.0   0.0  2115.0   0.0  29.0   0.0   0.0   0.0   0.0
1 2015-01-02   0.0   0.0  4339.0   0.0  75.0   0.0   0.0   0.0   0.0
2 2015-01-03   0.0   0.0  2403.0  41.0  21.0   0.0   0.0   0.0   0.0
3 2015-01-04   0.0   0.0    21.0   0.0  53.0   0.0   0.0   0.0   0.0
4 2015-01-05   0.0   0.0  4644.0   0.0  85.0   0.0   0.0   0.0   0.0

     ...      1754  1797  1800      1815  1817  1818    1853     1878   1891  \
0    ...     410.0   0.0   0.0  144551.0   0.0   0.0  1161.0   5208.0    0.0
1    ...     925.0   0.0   0.0   87737.0  78.0   0.0  4891.0   9508.0   15.0
2    ...       3.0   0.0   0.0   56624.0   0.0   0.0  2296.0   1802.0    0.0
3    ...      32.0   0.0   0.0   16503.0   0.0   0.0   331.0     57.0    0.0
4    ...     433.0   0.0   0.0   90064.0  39.0   0.0  6654.0  10739.0  211.0

      y_sum
0  174168.0
1  135573.0
2   75269.0
3   19952.0
4  141355.0

[5 rows x 35 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1065 entries, 0 to 1064
Data columns (total 35 columns):
ds       1065 non-null datetime64[ns]
1025     1065 non-null float64
1032     1065 non-null float64
1041     1065 non-null float64
1057     1065 non-null float64
1091     1065 non-null float64
1101     1065 non-null float64
1119     1065 non-null float64
1127     1065 non-null float64
1216     1065 non-null float64
1224     1065 non-null float64
1242     1065 non-null float64
1261     1065 non-null float64
1355     1065 non-null float64
1373     1065 non-null float64
1375     1065 non-null float64
1376     1065 non-null float64
1396     1065 non-null float64
1433     1065 non-null float64
1584     1065 non-null float64
1627     1065 non-null float64
1656     1065 non-null float64
1692     1065 non-null float64
1729     1065 non-null float64
1745     1065 non-null float64
1754     1065 non-null float64
1797     1065 non-null float64
1800     1065 non-null float64
1815     1065 non-null float64
1817     1065 non-null float64
1818     1065 non-null float64
1853     1065 non-null float64
1878     1065 non-null float64
1891     1065 non-null float64
y_sum    1065 non-null float64
dtypes: datetime64[ns](1), float64(34)
memory usage: 291.3 KB
None

In [26]:
df_raw2015.to_pickle('C:\\Nextop\\nextop-engine\\nextop_engine\\_element\\data\\private_IO\\KPP_계약처_입고출고(2015-2017).pickle')
data_out2015.data[frozenset({'raw'})].to_pickle('C:\\Nextop\\nextop-engine\\nextop_engine\\_element\\data\\private_IO\\KPP_계약처_입고출고(2015-2017)_daily_obj.pickle')