In [1]:
from _element import feature_control as ft_c

from _element import varr

import pandas as pd
import numpy as np

from datetime import datetime

import os, sys

path_name= os.getcwd()
sys.path.append(path_name)

C:\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
path_name

'C:\\Studying\\Project_Nextop\\nextop-engine\\nextop_engine'

In [35]:
dir_list= ft_c.dir_list('.\\_element\\data\\private_return\\_pickles', '.pickle')
df_raw= {}
df_result= pd.DataFrame()
for pkl in dir_list:
    pklname= pkl.split('\\')[-1].split('.')[0]
    df_raw[pklname]= pd.read_pickle(pkl)
    ft_c.colname(df_raw[pklname], {'발송일': 'ds', '수량': 'y'})
    df_raw[pklname]= ft_c.struct(df_raw[pklname], 'ds', '유형', 'y')
    df_raw[pklname].columns.name= None
    df_raw[pklname].reset_index(drop= False, inplace= True)
    df_raw[pklname]['ds']= df_raw[pklname]['ds'].apply(str).apply(
        lambda x: datetime(int(x[:4]),int(x[4:6]),int(x[6:]))
    )
    df_result= pd.concat([df_result, df_raw[pklname]], axis=0, join= 'outer')
df_result.fillna(0, inplace= True)
df_result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2882 entries, 0 to 332
Data columns (total 35 columns):
ds      2882 non-null datetime64[ns]
1025    2882 non-null float64
1041    2882 non-null float64
1091    2882 non-null float64
1127    2882 non-null float64
1216    2882 non-null float64
1242    2882 non-null float64
1261    2882 non-null float64
1355    2882 non-null float64
1373    2882 non-null float64
1375    2882 non-null float64
1376    2882 non-null float64
1396    2882 non-null float64
1627    2882 non-null float64
1656    2882 non-null float64
1692    2882 non-null float64
1729    2882 non-null float64
1745    2882 non-null float64
1754    2882 non-null float64
1797    2882 non-null float64
1800    2882 non-null float64
1815    2882 non-null float64
1817    2882 non-null float64
1853    2882 non-null float64
1878    2882 non-null float64
1891    2882 non-null float64
1111    2882 non-null float64
1163    2882 non-null float64
1298    2882 non-null float64
1852    2882 non-null float64
1057    2882 non-null float64
1117    2882 non-null float64
1390    2882 non-null float64
1652    2882 non-null float64
1119    2882 non-null float64
dtypes: datetime64[ns](1), float64(34)
memory usage: 810.6 KB

In [36]:
ft_c.save_as_xlsx(path_name+'\\_element\\data\\private_return\\', df_result, 'KPP일별회수(10_17).xlsx', '_withallobj')