In [47]:
import pandas as pd
import numpy as np
from collections import OrderedDict

In [2]:
import os, sys
sys.path.append(os.getcwd())

In [3]:
from _element import feature_control as ft_c
from _element import varr
from _element import calculations as calc
from _element.result_control import Result

from _alg.prophet import Prophet_timeseries

from _evaluation.cross_validation import Cross_Validation
from _evaluation import compare

In [4]:
INPUT_FILENAME= 'KPP일별투입(10_17)_raw.xlsx'

In [5]:
df_raw= ft_c.xlsx_opener(varr.PJ_DIR+varr.DF_DIR, INPUT_FILENAME)
df_temp= ft_c.xlsx_opener(varr.PJ_DIR+varr.TEMP_DATA_DIR, 'temp_data_merged.xlsx')

In [6]:
y_col= df_raw['raw'].columns.values.tolist()

In [7]:
try:
    y_col.remove('ds')
except ValueError:
    pass

In [8]:
x_col= df_temp['raw'].columns.values.tolist()

In [9]:
df_raw['raw']['ds']= pd.to_datetime(df_raw['raw']['ds'], box=True, format= '%Y/%m/%d', exact=True)
df_temp['raw']['ds']= pd.to_datetime(df_temp['raw']['ds'], box=True, format= '%Y/%m/%d', exact=True)
df_raw['raw']= pd.merge(df_raw['raw'], df_temp['raw'], how='inner', on='ds')

In [11]:
ft_c.add_division(df_raw, 'raw', 7, start_num= 3)

In [12]:
ft_c.divide_by(df_raw, 'raw', 'seasonality_7,3')

In [13]:
df_raw

{(0,):              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
 4    2010-07-05   65049  30.600000  21.799999          0.0                0
 11   2010-07-12   67680  28.299999  22.200001          0.0                0
 18   2010-07-19   73816  29.299999  24.200001          0.0                0
 25   2010-07-26   75731  27.600000  23.400000          6.0                0
 32   2010-08-02   67290  31.600000  24.000000          1.0                0
 39   2010-08-09   67691  32.799999  26.400000          0.0                0
 46   2010-08-16   70947  26.500000  21.000000          0.0                0
 53   2010-08-23   71422  28.900000  23.500000         13.0                0
 60   2010-08-30   68075  29.799999  22.299999          0.0                0
 67   2010-09-06   74425  29.700001  23.000000          0.0                0
 74   2010-09-13   75663  27.400000  21.100000          0.0                0
 81   2010-09-20   56183  25.400000  19.400000          4.0                0
 88   2010-09-27   71022  23.500000  13.600000          1.0                0
 95   2010-10-04   69676  16.299999  11.300000          0.0                0
 102  2010-10-11   62805  20.900000  17.000000          0.0                0
 109  2010-10-18   67614  19.000000  11.100000          0.0                0
 116  2010-10-25   60929  13.000000   1.000000          0.0                0
 123  2010-11-01   66695  16.500000   2.700000          0.0                0
 130  2010-11-08   61310   8.800000   1.500000          1.0                0
 137  2010-11-15   63669   4.800000  -0.900000          0.0                0
 144  2010-11-22   64249   8.600000  -0.300000          0.0                0
 151  2010-11-29   57679   7.400000   0.300000          0.0                0
 158  2010-12-06   63322   3.900000  -4.600000          0.0                0
 165  2010-12-13   65609   6.100000  -0.900000          0.0                0
 172  2010-12-20   71531   8.200000   1.000000          0.0                0
 179  2010-12-27   73419  -2.000000  -7.500000          2.0                0
 186  2011-01-03   77381  -0.500000  -7.500000          0.0                0
 193  2011-01-10   72527  -4.600000 -10.400000          0.0                0
 200  2011-01-17   78487  -5.000000 -12.600000          0.0                0
 207  2011-01-24   75475  -6.200000 -11.600000          0.0                0
 ...         ...     ...        ...        ...          ...              ...
 2503 2017-05-08  118401  22.700001  15.700000          0.2                0
 2510 2017-05-15  116007  19.200001  13.200000          0.1                0
 2517 2017-05-22  116142  27.100000  17.400000          0.0                0
 2524 2017-05-29  117597  27.900000  19.100000          0.0                0
 2531 2017-06-05  126649  29.100000  20.700001          0.0                0
 2538 2017-06-12  126420  27.500000  18.700001          0.0                0
 2545 2017-06-19  128490  29.200001  20.299999          0.0                0
 2552 2017-06-26  117364  26.400000  20.799999          4.5                0
 2559 2017-07-03  126213  26.700001  23.400000          2.0                0
 2566 2017-07-10  112780  25.299999  21.400000        123.7                0
 2573 2017-07-17  130187  29.400000  23.500000          6.1                0
 2580 2017-07-24  118896  28.100000  23.600000          2.3                0
 2587 2017-07-31  104468  26.700001  23.000000          5.3                0
 2594 2017-08-07  118317  33.400002  25.400000          0.0                0
 2601 2017-08-14  120424  26.600000  21.200001         23.5                0
 2608 2017-08-21  110586  28.500000  23.400000          1.7                0
 2615 2017-08-28  116657  26.700001  17.900000          5.3                0
 2622 2017-09-04  126057  29.600000  20.000000          0.0                0
 2629 2017-09-11  116849  23.799999  17.200001          0.0                0
 2636 2017-09-18  124903  27.100000  19.200001          0.0                0
 2643 2017-09-25  136445  27.600000  19.799999          0.0                0
 2650 2017-10-02   94909  26.500000  13.500000          0.0                0
 2657 2017-10-09   60909  25.799999  18.200001          0.0                0
 2664 2017-10-16  119379  20.200001   9.500000          0.0                0
 2671 2017-10-23  121804  17.900000   9.800000          0.0                0
 2678 2017-10-30  117899  12.300000   3.300000          0.0                0
 2685 2017-11-06  113480  15.900000   9.800000          0.0                0
 2692 2017-11-13  121625  11.000000   6.100000          5.6                0
 2699 2017-11-20  119059   3.700000  -4.000000          0.2                0
 2706 2017-11-27  117480   8.100000   1.800000          0.0                0

 [387 rows x 6 columns],
 (1,):              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
 5    2010-07-06   84245  31.000000  22.400000     0.000000                1
 12   2010-07-13   83587  31.299999  21.900000     0.000000                1
 19   2010-07-20   87473  32.000000  26.700001     0.000000                1
 26   2010-07-27   87872  30.100000  19.400000     0.000000                1
 33   2010-08-03   77911  31.900000  26.000000     0.000000                1
 40   2010-08-10   73304  29.400000  24.900000    24.000000                1
 47   2010-08-17   78393  31.600000  22.299999    10.000000                1
 54   2010-08-24   81534  25.900000  20.000000    24.000000                1
 61   2010-08-31   85997  26.900000  22.900000     9.000000                1
 68   2010-09-07   86837  30.600000  21.700001     0.000000                1
 75   2010-09-14  101958  28.400000  19.299999     0.000000                1
 82   2010-09-21     144  24.700001  15.800000   261.000000                1
 89   2010-09-28   88537  18.299999  10.300000     0.000000                1
 96   2010-10-05   84576  19.000000  11.400000     0.000000                1
 103  2010-10-12   78801  18.600000  13.000000     0.000000                1
 110  2010-10-19   81797  21.400000  12.800000     0.000000                1
 117  2010-10-26   82130   7.800000   0.800000     0.000000                1
 124  2010-11-02   84088   8.900000   1.100000     0.000000                1
 131  2010-11-09   78489   5.800000  -0.400000     0.000000                1
 138  2010-11-16   81291   8.600000   1.400000     0.000000                1
 145  2010-11-23   79005  12.500000   3.100000     0.000000                1
 152  2010-11-30   79344  12.000000   5.400000     0.000000                1
 159  2010-12-07   77069   3.800000  -3.400000     0.000000                1
 166  2010-12-14   75704  -0.800000 -12.500000     0.000000                1
 173  2010-12-21   78194  10.600000   0.600000     0.000000                1
 180  2010-12-28   73083  -0.200000  -9.100000     0.000000                1
 187  2011-01-04   84386  -2.100000  -6.500000     0.000000                1
 194  2011-01-11   92580  -2.700000 -10.900000     1.000000                1
 201  2011-01-18   86737  -3.200000  -9.700000     0.000000                1
 208  2011-01-25   93200  -4.600000 -10.700000     0.000000                1
 ...         ...     ...        ...        ...          ...              ...
 2504 2017-05-09   85544  19.400000  14.100000     5.000000                1
 2511 2017-05-16  129810  21.799999  12.200000     0.000000                1
 2518 2017-05-23  126911  23.799999  16.700001     2.900000                1
 2525 2017-05-30  130329  29.799999  17.700001     0.000000                1
 2532 2017-06-06   73184  22.799999  14.400000    27.200000                1
 2539 2017-06-13  131947  26.299999  18.000000     0.200000                1
 2546 2017-06-20  125803  31.000000  23.299999     0.100000                1
 2553 2017-06-27  124700  29.299999  22.500000     0.200000                1
 2560 2017-07-04  137350  30.600000  23.200001     0.000000                1
 2567 2017-07-11  134299  31.200001  24.799999     0.100000                1
 2574 2017-07-18  130082  30.299999  24.500000     0.100000                1
 2581 2017-07-25  133365  33.299999  24.100000     0.000000                1
 2588 2017-08-01  117931  33.200001  25.600000     0.000000                1
 2595 2017-08-08  118724  30.400000  25.299999     0.200000                1
 2602 2017-08-15   67459  23.000000  20.100000    50.300001                1
 2609 2017-08-22  128824  32.799999  24.500000    21.900000                1
 2616 2017-08-29  132152  22.600000  16.299999     0.000000                1
 2623 2017-09-05  138108  23.100000  19.799999     0.500000                1
 2630 2017-09-12  139633  27.000000  16.500000     0.000000                1
 2637 2017-09-19  142824  25.900000  14.900000     5.800000                1
 2644 2017-09-26  150474  29.100000  20.200001     1.800000                1
 2651 2017-10-03    6051  22.100000  10.700000     0.000000                1
 2658 2017-10-10  125030  22.799999  14.200000    19.900000                1
 2665 2017-10-17  132170  21.400000  14.800000     0.000000                1
 2672 2017-10-24  130253  18.600000   9.700000     0.000000                1
 2679 2017-10-31  121179  14.700000   9.800000     0.000000                1
 2686 2017-11-07  127948  17.200001  12.300000     0.000000                1
 2693 2017-11-14  123482   9.500000   1.900000     0.000000                1
 2700 2017-11-21  121680   6.800000   0.400000     0.500000                1
 2707 2017-11-28  122192   9.800000   4.200000     1.200000                1

 [387 rows x 6 columns],
 (2,):              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
 6    2010-07-07   80493  29.600000  21.900000          0.0                2
 13   2010-07-14   73490  27.500000  22.700001          1.0                2
 20   2010-07-21   87970  29.500000  26.000000          0.0                2
 27   2010-07-28   74544  30.600000  24.700001          1.0                2
 34   2010-08-04   78575  31.400000  26.100000         17.0                2
 41   2010-08-11   78727  32.000000  24.500000          3.0                2
 48   2010-08-18   77276  30.600000  24.100000          9.0                2
 55   2010-08-25   83021  22.799999  20.299999         44.0                2
 62   2010-09-01   82525  30.900000  22.299999         49.0                2
 69   2010-09-08   83854  24.000000  19.100000          2.0                2
 76   2010-09-15   83826  30.200001  19.200001          0.0                2
 83   2010-09-22       0  18.600000  12.200000          0.0                2
 90   2010-09-29   75740  16.600000   8.500000          0.0                2
 97   2010-10-06   79815  21.900000  12.100000          0.0                2
 104  2010-10-13   73188  19.200001  12.700000          0.0                2
 111  2010-10-20   79693  19.500000  10.200000          0.0                2
 118  2010-10-27   74213   9.900000   2.300000          0.0                2
 125  2010-11-03   81154  12.500000   4.100000          0.0                2
 132  2010-11-10   82290   9.000000   2.100000          0.0                2
 139  2010-11-17   80834  11.100000   1.900000          0.0                2
 146  2010-11-24   78450  10.400000   2.200000          0.0                2
 153  2010-12-01   81199   9.900000   5.600000          0.0                2
 160  2010-12-08   72392   2.000000  -4.100000          4.0                2
 167  2010-12-15   77252  -7.500000 -12.700000          0.0                2
 174  2010-12-22   78051   8.100000  -0.200000          0.0                2
 181  2010-12-29   79121  -2.400000  -8.100000          1.0                2
 188  2011-01-05   88738  -2.200000  -9.600000          0.0                2
 195  2011-01-12   92516  -5.100000 -11.000000          0.0                2
 202  2011-01-19   87209  -3.500000 -10.400000          0.0                2
 209  2011-01-26   96562  -5.300000 -11.300000          0.0                2
 ...         ...     ...        ...        ...          ...              ...
 2505 2017-05-10  120689  20.400000  12.900000          0.0                2
 2512 2017-05-17  127239  25.299999  13.900000          0.0                2
 2519 2017-05-24  129976  26.500000  15.700000          0.0                2
 2526 2017-05-31  125349  28.200001  20.299999          0.0                2
 2533 2017-06-07  120810  19.400000  15.300000          2.6                2
 2540 2017-06-14  122611  27.500000  17.700001          0.0                2
 2547 2017-06-21  126190  31.299999  21.299999          0.0                2
 2554 2017-06-28  129740  29.400000  21.600000          0.0                2
 2561 2017-07-05  132001  31.299999  24.100000          0.0                2
 2568 2017-07-12  123082  30.600000  22.900000          0.0                2
 2575 2017-07-19  140261  33.400002  25.700001          0.0                2
 2582 2017-07-26  132473  31.100000  25.400000          0.0                2
 2589 2017-08-02  113831  32.799999  27.100000          0.0                2
 2596 2017-08-09  128436  30.100000  23.500000          8.8                2
 2603 2017-08-16  129172  26.600000  20.000000          1.7                2
 2610 2017-08-23  131951  30.700001  26.400000         11.7                2
 2617 2017-08-30  129925  21.500000  17.100000          0.0                2
 2624 2017-09-06  128123  23.600000  18.100000          2.8                2
 2631 2017-09-13  134987  27.200001  15.600000          0.0                2
 2638 2017-09-20  134630  23.500000  14.800000          0.0                2
 2645 2017-09-27  148053  26.100000  17.100000          0.4                2
 2652 2017-10-04       0  22.600000  13.800000          0.0                2
 2659 2017-10-11  146962  18.000000  10.400000          0.4                2
 2666 2017-10-18  133867  19.400000  12.300000          0.5                2
 2673 2017-10-25  126426  19.000000  10.700000          0.0                2
 2680 2017-11-01  127688  17.299999  13.400000          0.0                2
 2687 2017-11-08  121521  17.200001   3.600000          0.0                2
 2694 2017-11-15  125310   5.400000  -2.600000          0.0                2
 2701 2017-11-22  122640   9.500000  -0.800000          0.0                2
 2708 2017-11-29  120685   5.700000  -3.200000          0.0                2

 [387 rows x 6 columns],
 (3,):              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
 0    2010-07-01   79590  30.500000  24.900000          0.0                3
 7    2010-07-08   73930  29.000000  21.299999          0.0                3
 14   2010-07-15   73332  29.799999  24.299999          0.0                3
 21   2010-07-22   76263  29.299999  24.500000          5.0                3
 28   2010-07-29   72627  30.299999  25.100000          2.0                3
 35   2010-08-05   77291  33.400002  27.299999          0.0                3
 42   2010-08-12   72969  24.799999  21.500000         67.0                3
 49   2010-08-19   74405  32.200001  25.700001          0.0                3
 56   2010-08-26   77936  26.400000  23.200001          5.0                3
 63   2010-09-02   81079  26.100000  22.700001          0.0                3
 70   2010-09-09   78264  24.200001  19.299999        112.0                3
 77   2010-09-16   83433  29.600000  20.200001          0.0                3
 84   2010-09-23     187  22.000000  12.000000          0.0                3
 91   2010-09-30   68407  20.500000  11.100000          0.0                3
 98   2010-10-07   73730  23.200001  15.200000          0.0                3
 105  2010-10-14   71648  20.299999   9.300000          0.0                3
 112  2010-10-21   74862  21.600000  12.900000          0.0                3
 119  2010-10-28   71177  12.000000   3.700000          0.0                3
 126  2010-11-04   78022  15.500000   7.100000          0.0                3
 133  2010-11-11   74185  14.700000   6.200000          2.0                3
 140  2010-11-18   79650  11.700000   2.500000          0.0                3
 147  2010-11-25   69803   5.800000  -2.600000          0.0                3
 154  2010-12-02   72491  13.400000  -0.700000          1.0                3
 161  2010-12-09   71895   1.800000  -3.500000          0.0                3
 168  2010-12-16   73254  -4.300000 -10.700000          0.0                3
 175  2010-12-23   76862   0.300000 -14.900000          0.0                3
 182  2010-12-30   77474  -4.000000 -10.600000          0.0                3
 189  2011-01-06   81340  -4.800000 -10.400000          0.0                3
 196  2011-01-13   87399  -2.600000  -9.700000          0.0                3
 203  2011-01-20   83956  -5.200000  -9.900000          0.0                3
 ...         ...     ...        ...        ...          ...              ...
 2506 2017-05-11  131363  23.500000  17.200001          0.0                3
 2513 2017-05-18  120938  26.700001  15.900000          0.0                3
 2520 2017-05-25  120736  23.600000  12.400000          0.0                3
 2527 2017-06-01  124345  27.700001  17.100000          0.0                3
 2534 2017-06-08  131312  25.200001  17.799999          0.1                3
 2541 2017-06-15  121254  29.299999  18.900000          0.0                3
 2548 2017-06-22  124983  29.200001  22.000000          0.0                3
 2555 2017-06-29  120963  31.200001  22.299999          0.0                3
 2562 2017-07-06  136537  32.900002  24.700001         28.9                3
 2569 2017-07-13  123054  31.500000  26.200001          0.0                3
 2576 2017-07-20  130792  33.500000  27.299999          0.0                3
 2583 2017-07-27  128306  29.600000  24.200001         10.1                3
 2590 2017-08-03  109402  32.299999  25.700001          0.0                3
 2597 2017-08-10  120669  25.799999  22.400000          5.2                3
 2604 2017-08-17  136147  28.000000  23.299999          0.4                3
 2611 2017-08-24  118481  27.299999  21.700001          9.9                3
 2618 2017-08-31  122819  27.700001  17.900000          0.0                3
 2625 2017-09-07  132144  26.299999  20.200001          0.0                3
 2632 2017-09-14  130742  27.700001  18.400000          0.0                3
 2639 2017-09-21  135391  25.400000  15.700000          0.0                3
 2646 2017-09-28  140422  23.400000  11.600000          0.0                3
 2653 2017-10-05    1239  21.600000  16.400000          0.0                3
 2660 2017-10-12  131436  13.900000   7.200000          0.0                3
 2667 2017-10-19  131135  21.299999  11.500000          0.0                3
 2674 2017-10-26  128680  17.299999  12.100000          0.0                3
 2681 2017-11-02  132155  18.000000  14.000000          1.6                3
 2688 2017-11-09  124710  15.600000   8.100000          0.0                3
 2695 2017-11-16  117847   5.800000  -0.900000          0.0                3
 2702 2017-11-23  110220   4.300000  -0.600000          0.8                3
 2709 2017-11-30  108386   1.800000  -7.100000          0.0                3

 [388 rows x 6 columns],
 (4,):              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
 1    2010-07-02   79456  25.799999  22.700001         70.0                4
 8    2010-07-09   80166  29.299999  21.799999          0.0                4
 15   2010-07-16   74715  27.100000  21.700001         52.0                4
 22   2010-07-23   77157  25.000000  23.200001          2.0                4
 29   2010-07-30   71448  30.799999  25.000000          0.0                4
 36   2010-08-06   68490  30.500000  24.500000         62.0                4
 43   2010-08-13   77729  29.299999  24.200001          0.0                4
 50   2010-08-20   79215  32.000000  25.200001          0.0                4
 57   2010-08-27   76704  31.400000  24.400000         83.0                4

In [14]:
r= Result()

In [18]:
cv= Cross_Validation(df_raw)

In [19]:
cv.slice('y', x_col, forecastday= varr.FORECASTDAY//7)

In [20]:
cv._data

{'(0,)_0': {'test':              ds       y  temp_max  temp_min  rain_amount  seasonality_7,3
  2706 2017-11-27  117480       8.1       1.8          0.0                0,
  'testX':              ds  temp_max  temp_min  rain_amount
  2706 2017-11-27       8.1       1.8          0.0,
  'testY': 2706    117480
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  4    2010-07-05   65049  30.600000  21.799999          0.0                0
  11   2010-07-12   67680  28.299999  22.200001          0.0                0
  18   2010-07-19   73816  29.299999  24.200001          0.0                0
  25   2010-07-26   75731  27.600000  23.400000          6.0                0
  32   2010-08-02   67290  31.600000  24.000000          1.0                0
  39   2010-08-09   67691  32.799999  26.400000          0.0                0
  46   2010-08-16   70947  26.500000  21.000000          0.0                0
  53   2010-08-23   71422  28.900000  23.500000         13.0                0
  60   2010-08-30   68075  29.799999  22.299999          0.0                0
  67   2010-09-06   74425  29.700001  23.000000          0.0                0
  74   2010-09-13   75663  27.400000  21.100000          0.0                0
  81   2010-09-20   56183  25.400000  19.400000          4.0                0
  88   2010-09-27   71022  23.500000  13.600000          1.0                0
  95   2010-10-04   69676  16.299999  11.300000          0.0                0
  102  2010-10-11   62805  20.900000  17.000000          0.0                0
  109  2010-10-18   67614  19.000000  11.100000          0.0                0
  116  2010-10-25   60929  13.000000   1.000000          0.0                0
  123  2010-11-01   66695  16.500000   2.700000          0.0                0
  130  2010-11-08   61310   8.800000   1.500000          1.0                0
  137  2010-11-15   63669   4.800000  -0.900000          0.0                0
  144  2010-11-22   64249   8.600000  -0.300000          0.0                0
  151  2010-11-29   57679   7.400000   0.300000          0.0                0
  158  2010-12-06   63322   3.900000  -4.600000          0.0                0
  165  2010-12-13   65609   6.100000  -0.900000          0.0                0
  172  2010-12-20   71531   8.200000   1.000000          0.0                0
  179  2010-12-27   73419  -2.000000  -7.500000          2.0                0
  186  2011-01-03   77381  -0.500000  -7.500000          0.0                0
  193  2011-01-10   72527  -4.600000 -10.400000          0.0                0
  200  2011-01-17   78487  -5.000000 -12.600000          0.0                0
  207  2011-01-24   75475  -6.200000 -11.600000          0.0                0
  ...         ...     ...        ...        ...          ...              ...
  2496 2017-05-01   89340  26.600000  15.700000          0.0                0
  2503 2017-05-08  118401  22.700001  15.700000          0.2                0
  2510 2017-05-15  116007  19.200001  13.200000          0.1                0
  2517 2017-05-22  116142  27.100000  17.400000          0.0                0
  2524 2017-05-29  117597  27.900000  19.100000          0.0                0
  2531 2017-06-05  126649  29.100000  20.700001          0.0                0
  2538 2017-06-12  126420  27.500000  18.700001          0.0                0
  2545 2017-06-19  128490  29.200001  20.299999          0.0                0
  2552 2017-06-26  117364  26.400000  20.799999          4.5                0
  2559 2017-07-03  126213  26.700001  23.400000          2.0                0
  2566 2017-07-10  112780  25.299999  21.400000        123.7                0
  2573 2017-07-17  130187  29.400000  23.500000          6.1                0
  2580 2017-07-24  118896  28.100000  23.600000          2.3                0
  2587 2017-07-31  104468  26.700001  23.000000          5.3                0
  2594 2017-08-07  118317  33.400002  25.400000          0.0                0
  2601 2017-08-14  120424  26.600000  21.200001         23.5                0
  2608 2017-08-21  110586  28.500000  23.400000          1.7                0
  2615 2017-08-28  116657  26.700001  17.900000          5.3                0
  2622 2017-09-04  126057  29.600000  20.000000          0.0                0
  2629 2017-09-11  116849  23.799999  17.200001          0.0                0
  2636 2017-09-18  124903  27.100000  19.200001          0.0                0
  2643 2017-09-25  136445  27.600000  19.799999          0.0                0
  2650 2017-10-02   94909  26.500000  13.500000          0.0                0
  2657 2017-10-09   60909  25.799999  18.200001          0.0                0
  2664 2017-10-16  119379  20.200001   9.500000          0.0                0
  2671 2017-10-23  121804  17.900000   9.800000          0.0                0
  2678 2017-10-30  117899  12.300000   3.300000          0.0                0
  2685 2017-11-06  113480  15.900000   9.800000          0.0                0
  2692 2017-11-13  121625  11.000000   6.100000          5.6                0
  2699 2017-11-20  119059   3.700000  -4.000000          0.2                0

  [386 rows x 6 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  4    2010-07-05  30.600000  21.799999          0.0
  11   2010-07-12  28.299999  22.200001          0.0
  18   2010-07-19  29.299999  24.200001          0.0
  25   2010-07-26  27.600000  23.400000          6.0
  32   2010-08-02  31.600000  24.000000          1.0
  39   2010-08-09  32.799999  26.400000          0.0
  46   2010-08-16  26.500000  21.000000          0.0
  53   2010-08-23  28.900000  23.500000         13.0
  60   2010-08-30  29.799999  22.299999          0.0
  67   2010-09-06  29.700001  23.000000          0.0
  74   2010-09-13  27.400000  21.100000          0.0
  81   2010-09-20  25.400000  19.400000          4.0
  88   2010-09-27  23.500000  13.600000          1.0
  95   2010-10-04  16.299999  11.300000          0.0
  102  2010-10-11  20.900000  17.000000          0.0
  109  2010-10-18  19.000000  11.100000          0.0
  116  2010-10-25  13.000000   1.000000          0.0
  123  2010-11-01  16.500000   2.700000          0.0
  130  2010-11-08   8.800000   1.500000          1.0
  137  2010-11-15   4.800000  -0.900000          0.0
  144  2010-11-22   8.600000  -0.300000          0.0
  151  2010-11-29   7.400000   0.300000          0.0
  158  2010-12-06   3.900000  -4.600000          0.0
  165  2010-12-13   6.100000  -0.900000          0.0
  172  2010-12-20   8.200000   1.000000          0.0
  179  2010-12-27  -2.000000  -7.500000          2.0
  186  2011-01-03  -0.500000  -7.500000          0.0
  193  2011-01-10  -4.600000 -10.400000          0.0
  200  2011-01-17  -5.000000 -12.600000          0.0
  207  2011-01-24  -6.200000 -11.600000          0.0
  ...         ...        ...        ...          ...
  2496 2017-05-01  26.600000  15.700000          0.0
  2503 2017-05-08  22.700001  15.700000          0.2
  2510 2017-05-15  19.200001  13.200000          0.1
  2517 2017-05-22  27.100000  17.400000          0.0
  2524 2017-05-29  27.900000  19.100000          0.0
  2531 2017-06-05  29.100000  20.700001          0.0
  2538 2017-06-12  27.500000  18.700001          0.0
  2545 2017-06-19  29.200001  20.299999          0.0
  2552 2017-06-26  26.400000  20.799999          4.5
  2559 2017-07-03  26.700001  23.400000          2.0
  2566 2017-07-10  25.299999  21.400000        123.7
  2573 2017-07-17  29.400000  23.500000          6.1
  2580 2017-07-24  28.100000  23.600000          2.3
  2587 2017-07-31  26.700001  23.000000          5.3
  2594 2017-08-07  33.400002  25.400000          0.0
  2601 2017-08-14  26.600000  21.200001         23.5
  2608 2017-08-21  28.500000  23.400000          1.7
  2615 2017-08-28  26.700001  17.900000          5.3
  2622 2017-09-04  29.600000  20.000000          0.0
  2629 2017-09-11  23.799999  17.200001          0.0
  2636 2017-09-18  27.100000  19.200001          0.0
  2643 2017-09-25  27.600000  19.799999          0.0
  2650 2017-10-02  26.500000  13.500000          0.0
  2657 2017-10-09  25.799999  18.200001          0.0
  2664 2017-10-16  20.200001   9.500000          0.0
  2671 2017-10-23  17.900000   9.800000          0.0
  2678 2017-10-30  12.300000   3.300000          0.0
  2685 2017-11-06  15.900000   9.800000          0.0
  2692 2017-11-13  11.000000   6.100000          5.6
  2699 2017-11-20   3.700000  -4.000000          0.2

  [386 rows x 4 columns],
  'trainY': 4        65049
  11       67680
  18       73816
  25       75731
  32       67290
  39       67691
  46       70947
  53       71422
  60       68075
  67       74425
  74       75663
  81       56183
  88       71022
  95       69676
  102      62805
  109      67614
  116      60929
  123      66695
  130      61310
  137      63669
  144      64249
  151      57679
  158      63322
  165      65609
  172      71531
  179      73419
  186      77381
  193      72527
  200      78487
  207      75475
           ...
  2496     89340
  2503    118401
  2510    116007
  2517    116142
  2524    117597
  2531    126649
  2538    126420
  2545    128490
  2552    117364
  2559    126213
  2566    112780
  2573    130187
  2580    118896
  2587    104468
  2594    118317
  2601    120424
  2608    110586
  2615    116657
  2622    126057
  2629    116849
  2636    124903
  2643    136445
  2650     94909
  2657     60909
  2664    119379
  2671    121804
  2678    117899
  2685    113480
  2692    121625
  2699    119059
  Name: y, Length: 386, dtype: int64},
 '(0,)_1': {'test':              ds       y  temp_max   temp_min  rain_amount  seasonality_7,3
  2636 2017-09-18  124903      27.1  19.200001          0.0                0,
  'testX':              ds  temp_max   temp_min  rain_amount
  2636 2017-09-18      27.1  19.200001          0.0,
  'testY': 2636    124903
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  4    2010-07-05   65049  30.600000  21.799999          0.0                0
  11   2010-07-12   67680  28.299999  22.200001          0.0                0
  18   2010-07-19   73816  29.299999  24.200001          0.0                0
  25   2010-07-26   75731  27.600000  23.400000          6.0                0
  32   2010-08-02   67290  31.600000  24.000000          1.0                0
  39   2010-08-09   67691  32.799999  26.400000          0.0                0
  46   2010-08-16   70947  26.500000  21.000000          0.0                0
  53   2010-08-23   71422  28.900000  23.500000         13.0                0
  60   2010-08-30   68075  29.799999  22.299999          0.0                0
  67   2010-09-06   74425  29.700001  23.000000          0.0                0
  74   2010-09-13   75663  27.400000  21.100000          0.0                0
  81   2010-09-20   56183  25.400000  19.400000          4.0                0
  88   2010-09-27   71022  23.500000  13.600000          1.0                0
  95   2010-10-04   69676  16.299999  11.300000          0.0                0
  102  2010-10-11   62805  20.900000  17.000000          0.0                0
  109  2010-10-18   67614  19.000000  11.100000          0.0                0
  116  2010-10-25   60929  13.000000   1.000000          0.0                0
  123  2010-11-01   66695  16.500000   2.700000          0.0                0
  130  2010-11-08   61310   8.800000   1.500000          1.0                0
  137  2010-11-15   63669   4.800000  -0.900000          0.0                0
  144  2010-11-22   64249   8.600000  -0.300000          0.0                0
  151  2010-11-29   57679   7.400000   0.300000          0.0                0
  158  2010-12-06   63322   3.900000  -4.600000          0.0                0
  165  2010-12-13   65609   6.100000  -0.900000          0.0                0
  172  2010-12-20   71531   8.200000   1.000000          0.0                0
  179  2010-12-27   73419  -2.000000  -7.500000          2.0                0
  186  2011-01-03   77381  -0.500000  -7.500000          0.0                0
  193  2011-01-10   72527  -4.600000 -10.400000          0.0                0
  200  2011-01-17   78487  -5.000000 -12.600000          0.0                0
  207  2011-01-24   75475  -6.200000 -11.600000          0.0                0
  ...         ...     ...        ...        ...          ...              ...
  2426 2017-02-20  107804   0.600000  -6.400000          0.0                0
  2433 2017-02-27  113165   9.000000  -0.100000          0.0                0
  2440 2017-03-06  123211   2.600000  -2.900000          0.0                0
  2447 2017-03-13  112496  11.600000   2.200000          0.0                0
  2454 2017-03-20  115555  13.700000   4.400000          0.0                0
  2461 2017-03-27  112817   8.300000   2.500000          0.8                0
  2468 2017-04-03  113825  17.500000   6.500000          0.0                0
  2475 2017-04-10  111817  20.600000  12.500000          0.0                0
  2482 2017-04-17  117124  18.500000   9.500000          4.5                0
  2489 2017-04-24  116360  19.600000  12.800000          0.0                0
  2496 2017-05-01   89340  26.600000  15.700000          0.0                0
  2503 2017-05-08  118401  22.700001  15.700000          0.2                0
  2510 2017-05-15  116007  19.200001  13.200000          0.1                0
  2517 2017-05-22  116142  27.100000  17.400000          0.0                0
  2524 2017-05-29  117597  27.900000  19.100000          0.0                0
  2531 2017-06-05  126649  29.100000  20.700001          0.0                0
  2538 2017-06-12  126420  27.500000  18.700001          0.0                0
  2545 2017-06-19  128490  29.200001  20.299999          0.0                0
  2552 2017-06-26  117364  26.400000  20.799999          4.5                0
  2559 2017-07-03  126213  26.700001  23.400000          2.0                0
  2566 2017-07-10  112780  25.299999  21.400000        123.7                0
  2573 2017-07-17  130187  29.400000  23.500000          6.1                0
  2580 2017-07-24  118896  28.100000  23.600000          2.3                0
  2587 2017-07-31  104468  26.700001  23.000000          5.3                0
  2594 2017-08-07  118317  33.400002  25.400000          0.0                0
  2601 2017-08-14  120424  26.600000  21.200001         23.5                0
  2608 2017-08-21  110586  28.500000  23.400000          1.7                0
  2615 2017-08-28  116657  26.700001  17.900000          5.3                0
  2622 2017-09-04  126057  29.600000  20.000000          0.0                0
  2629 2017-09-11  116849  23.799999  17.200001          0.0                0

  [376 rows x 6 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  4    2010-07-05  30.600000  21.799999          0.0
  11   2010-07-12  28.299999  22.200001          0.0
  18   2010-07-19  29.299999  24.200001          0.0
  25   2010-07-26  27.600000  23.400000          6.0
  32   2010-08-02  31.600000  24.000000          1.0
  39   2010-08-09  32.799999  26.400000          0.0
  46   2010-08-16  26.500000  21.000000          0.0
  53   2010-08-23  28.900000  23.500000         13.0
  60   2010-08-30  29.799999  22.299999          0.0
  67   2010-09-06  29.700001  23.000000          0.0
  74   2010-09-13  27.400000  21.100000          0.0
  81   2010-09-20  25.400000  19.400000          4.0
  88   2010-09-27  23.500000  13.600000          1.0
  95   2010-10-04  16.299999  11.300000          0.0
  102  2010-10-11  20.900000  17.000000          0.0
  109  2010-10-18  19.000000  11.100000          0.0
  116  2010-10-25  13.000000   1.000000          0.0
  123  2010-11-01  16.500000   2.700000          0.0
  130  2010-11-08   8.800000   1.500000          1.0
  137  2010-11-15   4.800000  -0.900000          0.0
  144  2010-11-22   8.600000  -0.300000          0.0
  151  2010-11-29   7.400000   0.300000          0.0
  158  2010-12-06   3.900000  -4.600000          0.0
  165  2010-12-13   6.100000  -0.900000          0.0
  172  2010-12-20   8.200000   1.000000          0.0
  179  2010-12-27  -2.000000  -7.500000          2.0
  186  2011-01-03  -0.500000  -7.500000          0.0
  193  2011-01-10  -4.600000 -10.400000          0.0
  200  2011-01-17  -5.000000 -12.600000          0.0
  207  2011-01-24  -6.200000 -11.600000          0.0
  ...         ...        ...        ...          ...
  2426 2017-02-20   0.600000  -6.400000          0.0
  2433 2017-02-27   9.000000  -0.100000          0.0
  2440 2017-03-06   2.600000  -2.900000          0.0
  2447 2017-03-13  11.600000   2.200000          0.0
  2454 2017-03-20  13.700000   4.400000          0.0
  2461 2017-03-27   8.300000   2.500000          0.8
  2468 2017-04-03  17.500000   6.500000          0.0
  2475 2017-04-10  20.600000  12.500000          0.0
  2482 2017-04-17  18.500000   9.500000          4.5
  2489 2017-04-24  19.600000  12.800000          0.0
  2496 2017-05-01  26.600000  15.700000          0.0
  2503 2017-05-08  22.700001  15.700000          0.2
  2510 2017-05-15  19.200001  13.200000          0.1
  2517 2017-05-22  27.100000  17.400000          0.0
  2524 2017-05-29  27.900000  19.100000          0.0
  2531 2017-06-05  29.100000  20.700001          0.0
  2538 2017-06-12  27.500000  18.700001          0.0
  2545 2017-06-19  29.200001  20.299999          0.0
  2552 2017-06-26  26.400000  20.799999          4.5
  2559 2017-07-03  26.700001  23.400000          2.0
  2566 2017-07-10  25.299999  21.400000        123.7
  2573 2017-07-17  29.400000  23.500000          6.1
  2580 2017-07-24  28.100000  23.600000          2.3
  2587 2017-07-31  26.700001  23.000000          5.3
  2594 2017-08-07  33.400002  25.400000          0.0
  2601 2017-08-14  26.600000  21.200001         23.5
  2608 2017-08-21  28.500000  23.400000          1.7
  2615 2017-08-28  26.700001  17.900000          5.3
  2622 2017-09-04  29.600000  20.000000          0.0
  2629 2017-09-11  23.799999  17.200001          0.0

  [376 rows x 4 columns],
  'trainY': 4        65049
  11       67680
  18       73816
  25       75731
  32       67290
  39       67691
  46       70947
  53       71422
  60       68075
  67       74425
  74       75663
  81       56183
  88       71022
  95       69676
  102      62805
  109      67614
  116      60929
  123      66695
  130      61310
  137      63669
  144      64249
  151      57679
  158      63322
  165      65609
  172      71531
  179      73419
  186      77381
  193      72527
  200      78487
  207      75475
           ...
  2426    107804
  2433    113165
  2440    123211
  2447    112496
  2454    115555
  2461    112817
  2468    113825
  2475    111817
  2482    117124
  2489    116360
  2496     89340
  2503    118401
  2510    116007
  2517    116142
  2524    117597
  2531    126649
  2538    126420
  2545    128490
  2552    117364
  2559    126213
  2566    112780
  2573    130187
  2580    118896
  2587    104468
  2594    118317
  2601    120424
  2608    110586
  2615    116657
  2622    126057
  2629    116849
  Name: y, Length: 376, dtype: int64},
 '(0,)_2': {'test':              ds       y   temp_max  temp_min  rain_amount  seasonality_7,3
  2566 2017-07-10  112780  25.299999      21.4        123.7                0,
  'testX':              ds   temp_max  temp_min  rain_amount
  2566 2017-07-10  25.299999      21.4        123.7,
  'testY': 2566    112780
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  4    2010-07-05   65049  30.600000  21.799999          0.0                0
  11   2010-07-12   67680  28.299999  22.200001          0.0                0
  18   2010-07-19   73816  29.299999  24.200001          0.0                0
  25   2010-07-26   75731  27.600000  23.400000          6.0                0

In [21]:
prpt_event_revised= Prophet_timeseries(cv= True)

In [22]:
prpt_event_revised.add_model('event_revise', 'week', holidaybeta= varr.HOLYDAYBETA_revised, regressor= None)

In [23]:
prpt_event_revised.fit('event_revise', txs_traintest= cv._data)

In [24]:
prpt_event_revised.forecast('event_revise', forecast_dict= r.forecast_dict)

C:\Studying\Project_Nextop\nextop-engine\nextop_engine\_alg\prophet.py:174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  result_forecast['ds'], box=True, format= '%Y/%m/%d', exact=True

In [29]:
r.forecast_dict

OrderedDict([('weekday__0_merged',
              {'MAPE': 45.713163163531796,
               'MAPE_div_std': 73.606459015732284,
               'MAPE_with_std': 20.22663478899732,
               'RMSE': 5794.6743253523309,
               'forecast':           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
               0 2017-11-24  120647       2.9      -2.5          0.1                4
               0 2017-11-25   67756       6.4       0.8         15.7                5
               0 2017-11-26     100       6.4      -2.4          0.0                6
               0 2017-11-27  117480       8.1       1.8          0.0                0
               0 2017-11-28  122192       9.8       4.2          1.2                1
               0 2017-11-29  120685       5.7      -3.2          0.0                2
               0 2017-11-30  108386       1.8      -7.1          0.0                3

                           yhat
               0  124592.326772
               0   62672.072598
               0    -191.516617
               0  113686.716103
               0  121378.489147
               0  122630.675957
               0  121603.957221  ,
               'sMAPE': 4.3957067474927518}),
             ('weekday__1_merged',
              {'MAPE': 21.572112532355835,
               'MAPE_div_std': 235.60252770313284,
               'MAPE_with_std': 24.470795301499994,
               'RMSE': 10462.489079777128,
               'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
               0 2017-09-15  146743  27.299999  17.200001          0.0                4
               0 2017-09-16   78827  26.100000  19.200001          0.0                5
               0 2017-09-17     630  27.400000  17.500000          0.0                6
               0 2017-09-18  124903  27.100000  19.200001          0.0                0
               0 2017-09-19  142824  25.900000  14.900000          5.8                1
               0 2017-09-20  134630  23.500000  14.800000          0.0                2
               0 2017-09-21  135391  25.400000  15.700000          0.0                3

                           yhat
               0  133643.867530
               0   68652.734885
               0      19.256684
               0  115830.746151
               0  128876.756449
               0  123040.201875
               0  126468.277234  ,
               'sMAPE': 9.2320561104374423}),
             ('weekday__2_merged',
              {'MAPE': 43.081279828036827,
               'MAPE_div_std': 82.903486277403346,
               'MAPE_with_std': 20.810544486477657,
               'RMSE': 6768.3936941103284,
               'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
               0 2017-07-07  138278  28.799999  24.900000         22.2                4
               0 2017-07-08   78658  27.400000  24.900000          8.6                5
               0 2017-07-09     102  29.200001  23.600000         70.5                6
               0 2017-07-10  112780  25.299999  21.400000        123.7                0
               0 2017-07-11  134299  31.200001  24.799999          0.1                1
               0 2017-07-12  123082  30.600000  22.900000          0.0                2
               0 2017-07-13  123054  31.500000  26.200001          0.0                3

                           yhat
               0  127989.021794
               0   65583.436475
               0     376.898832
               0  112858.264062
               0  128766.395827
               0  124377.388513
               0  126445.364553  ,
               'sMAPE': 4.8596380554518177}),
             ('weekday__3_merged',
              {'MAPE': 37.964066319567294,
               'MAPE_div_std': 82.761112496221173,
               'MAPE_with_std': 37.118725662745952,
               'RMSE': 25615.062296982196,
               'forecast':           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
               0 2017-04-28  139093  20.700001       9.3          0.0                4
               0 2017-04-29   78884  22.200001      14.1          0.0                5
               0 2017-04-30     138  26.700001      13.2          0.0                6
               0 2017-05-01   89340  26.600000      15.7          0.0                0
               0 2017-05-02  133677  25.700001      14.6          0.0                1
               0 2017-05-03   76708  28.299999      15.3          0.0                2
               0 2017-05-04  133802  26.400000      18.0          0.0                3

                           yhat
               0  121310.960941
               0   64268.391021
               0     295.203532
               0  104993.908081
               0  106016.942661
               0  127841.170662
               0  112865.106456  ,
               'sMAPE': 22.9498938954601}),
             ('weekday__4_merged',
              {'MAPE': 31.877404120801735,
               'MAPE_div_std': 228.96617291130315,
               'MAPE_with_std': 23.960209819582602,
               'RMSE': 19094.425812602683,
               'forecast':           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
               0 2017-02-17  116907       4.8      -7.2          0.0                4
               0 2017-02-18   62986       2.1      -6.2          0.0                5
               0 2017-02-19      80       5.0      -0.4          3.2                6
               0 2017-02-20  107804       0.6      -6.4          0.0                0
               0 2017-02-21  110120       4.9      -4.6          0.0                1
               0 2017-02-22  109244       3.4      -3.1          3.1                2
               0 2017-02-23  111581       1.6      -5.7          0.0                3

                           yhat
               0  134283.234831
               0   79537.850861
               0     161.045387
               0  130593.492547
               0  128547.883428
               0  133367.476286
               0  134719.406196  ,
               'sMAPE': 18.013893996283141})])

In [26]:
r.merge_result(m_name= ['_0', '_1', '_2', '_3', '_4'], m_title= 'event_revise')

{'forecast':           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-11-24  120647       2.9      -2.5          0.1                4
0 2017-11-25   67756       6.4       0.8         15.7                5
0 2017-11-26     100       6.4      -2.4          0.0                6
0 2017-11-27  117480       8.1       1.8          0.0                0
0 2017-11-28  122192       9.8       4.2          1.2                1
0 2017-11-29  120685       5.7      -3.2          0.0                2
0 2017-11-30  108386       1.8      -7.1          0.0                3

            yhat
0  124592.326772
0   62672.072598
0    -191.516617
0  113686.716103
0  121378.489147
0  122630.675957
0  121603.957221  }
{'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-09-15  146743  27.299999  17.200001          0.0                4
0 2017-09-16   78827  26.100000  19.200001          0.0                5
0 2017-09-17     630  27.400000  17.500000          0.0                6
0 2017-09-18  124903  27.100000  19.200001          0.0                0
0 2017-09-19  142824  25.900000  14.900000          5.8                1
0 2017-09-20  134630  23.500000  14.800000          0.0                2
0 2017-09-21  135391  25.400000  15.700000          0.0                3

            yhat
0  133643.867530
0   68652.734885
0      19.256684
0  115830.746151
0  128876.756449
0  123040.201875
0  126468.277234  }
{'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-07-07  138278  28.799999  24.900000         22.2                4
0 2017-07-08   78658  27.400000  24.900000          8.6                5
0 2017-07-09     102  29.200001  23.600000         70.5                6
0 2017-07-10  112780  25.299999  21.400000        123.7                0
0 2017-07-11  134299  31.200001  24.799999          0.1                1
0 2017-07-12  123082  30.600000  22.900000          0.0                2
0 2017-07-13  123054  31.500000  26.200001          0.0                3

            yhat
0  127989.021794
0   65583.436475
0     376.898832
0  112858.264062
0  128766.395827
0  124377.388513
0  126445.364553  }
{'forecast':           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-04-28  139093  20.700001       9.3          0.0                4
0 2017-04-29   78884  22.200001      14.1          0.0                5
0 2017-04-30     138  26.700001      13.2          0.0                6
0 2017-05-01   89340  26.600000      15.7          0.0                0
0 2017-05-02  133677  25.700001      14.6          0.0                1
0 2017-05-03   76708  28.299999      15.3          0.0                2
0 2017-05-04  133802  26.400000      18.0          0.0                3

            yhat
0  121310.960941
0   64268.391021
0     295.203532
0  104993.908081
0  106016.942661
0  127841.170662
0  112865.106456  }
{'forecast':           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-02-17  116907       4.8      -7.2          0.0                4
0 2017-02-18   62986       2.1      -6.2          0.0                5
0 2017-02-19      80       5.0      -0.4          3.2                6
0 2017-02-20  107804       0.6      -6.4          0.0                0
0 2017-02-21  110120       4.9      -4.6          0.0                1
0 2017-02-22  109244       3.4      -3.1          3.1                2
0 2017-02-23  111581       1.6      -5.7          0.0                3

            yhat
0  134283.234831
0   79537.850861
0     161.045387
0  130593.492547
0  128547.883428
0  133367.476286
0  134719.406196  }

In [27]:
r.err_rate(m_name= 'event_revise')
r.print_err_rate()

RMSE with segment weekday__0_merged: 5794.6743
MAPE with segment weekday__0_merged: 45.7132
MAPE_with_std with segment weekday__0_merged: 20.2266
MAPE_div_std with segment weekday__0_merged: 73.6065
sMAPE with segment weekday__0_merged: 4.3957


RMSE with segment weekday__1_merged: 10462.4891
MAPE with segment weekday__1_merged: 21.5721
MAPE_with_std with segment weekday__1_merged: 24.4708
MAPE_div_std with segment weekday__1_merged: 235.6025
sMAPE with segment weekday__1_merged: 9.2321


RMSE with segment weekday__2_merged: 6768.3937
MAPE with segment weekday__2_merged: 43.0813
MAPE_with_std with segment weekday__2_merged: 20.8105
MAPE_div_std with segment weekday__2_merged: 82.9035
sMAPE with segment weekday__2_merged: 4.8596


RMSE with segment weekday__3_merged: 25615.0623
MAPE with segment weekday__3_merged: 37.9641
MAPE_with_std with segment weekday__3_merged: 37.1187
MAPE_div_std with segment weekday__3_merged: 82.7611
sMAPE with segment weekday__3_merged: 22.9499


RMSE with segment weekday__4_merged: 19094.4258
MAPE with segment weekday__4_merged: 31.8774
MAPE_with_std with segment weekday__4_merged: 23.9602
MAPE_div_std with segment weekday__4_merged: 228.9662
sMAPE with segment weekday__4_merged: 18.0139

In [30]:
r.avg_result(m_name= 'event_revise')

{'forecast': [          ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-11-24  120647       2.9      -2.5          0.1                4
0 2017-11-25   67756       6.4       0.8         15.7                5
0 2017-11-26     100       6.4      -2.4          0.0                6
0 2017-11-27  117480       8.1       1.8          0.0                0
0 2017-11-28  122192       9.8       4.2          1.2                1
0 2017-11-29  120685       5.7      -3.2          0.0                2
0 2017-11-30  108386       1.8      -7.1          0.0                3

            yhat
0  124592.326772
0   62672.072598
0    -191.516617
0  113686.716103
0  121378.489147
0  122630.675957
0  121603.957221  ,           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-09-15  146743  27.299999  17.200001          0.0                4
0 2017-09-16   78827  26.100000  19.200001          0.0                5
0 2017-09-17     630  27.400000  17.500000          0.0                6
0 2017-09-18  124903  27.100000  19.200001          0.0                0
0 2017-09-19  142824  25.900000  14.900000          5.8                1
0 2017-09-20  134630  23.500000  14.800000          0.0                2
0 2017-09-21  135391  25.400000  15.700000          0.0                3

            yhat
0  133643.867530
0   68652.734885
0      19.256684
0  115830.746151
0  128876.756449
0  123040.201875
0  126468.277234  ,           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-07-07  138278  28.799999  24.900000         22.2                4
0 2017-07-08   78658  27.400000  24.900000          8.6                5
0 2017-07-09     102  29.200001  23.600000         70.5                6
0 2017-07-10  112780  25.299999  21.400000        123.7                0
0 2017-07-11  134299  31.200001  24.799999          0.1                1
0 2017-07-12  123082  30.600000  22.900000          0.0                2
0 2017-07-13  123054  31.500000  26.200001          0.0                3

            yhat
0  127989.021794
0   65583.436475
0     376.898832
0  112858.264062
0  128766.395827
0  124377.388513
0  126445.364553  ,           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-04-28  139093  20.700001       9.3          0.0                4
0 2017-04-29   78884  22.200001      14.1          0.0                5
0 2017-04-30     138  26.700001      13.2          0.0                6
0 2017-05-01   89340  26.600000      15.7          0.0                0
0 2017-05-02  133677  25.700001      14.6          0.0                1
0 2017-05-03   76708  28.299999      15.3          0.0                2
0 2017-05-04  133802  26.400000      18.0          0.0                3

            yhat
0  121310.960941
0   64268.391021
0     295.203532
0  104993.908081
0  106016.942661
0  127841.170662
0  112865.106456  ,           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-02-17  116907       4.8      -7.2          0.0                4
0 2017-02-18   62986       2.1      -6.2          0.0                5
0 2017-02-19      80       5.0      -0.4          3.2                6
0 2017-02-20  107804       0.6      -6.4          0.0                0
0 2017-02-21  110120       4.9      -4.6          0.0                1
0 2017-02-22  109244       3.4      -3.1          3.1                2
0 2017-02-23  111581       1.6      -5.7          0.0                3

            yhat
0  134283.234831
0   79537.850861
0     161.045387
0  130593.492547
0  128547.883428
0  133367.476286
0  134719.406196  ], 'RMSE': 13547.009041764933, 'MAPE': 36.041605192858704, 'MAPE_with_std': 25.317382011860705, 'MAPE_div_std': 140.76795168075856, 'sMAPE': 11.890237761025052}

In [31]:
r.print_err_rate()

RMSE with segment weekday_result: 13547.0090
MAPE with segment weekday_result: 36.0416
MAPE_with_std with segment weekday_result: 25.3174
MAPE_div_std with segment weekday_result: 140.7680
sMAPE with segment weekday_result: 11.8902