In [1]:
from _element import feature_control as ft_c

In [2]:
from _usecase import algorithm_prophet as prpt

In [3]:
from _element import calculations as calc

In [4]:
import pandas as pd

In [5]:
from datetime import datetime

In [6]:
from _element import varr

In [28]:
INPUT_FILENAME= 'KPP일별투입(10_17)_raw.xlsx'

In [ ]:
df_raw= ft_c.xlsx_opener(varr.PJ_DIR+varr.DF_DIR, INPUT_FILENAME)

In [30]:
df_temp= ft_c.xlsx_opener(varr.PJ_DIR+varr.TEMP_DATA_DIR, 'temp_data_merged.xlsx')

In [31]:
y_col= df_raw.columns.values.tolist()

In [32]:
try:
    y_col.remove('ds')
except ValueError:
    pass

In [33]:
y_col

['y']

In [34]:
x_col= df_temp.columns.values.tolist()

In [35]:
x_col

['ds', 'temp_max', 'temp_min', 'rain_amount']

In [36]:
df_raw['ds']= pd.to_datetime(df_raw['ds'], box=True, format= '%Y/%m/%d', exact=True)

In [37]:
df_temp['ds']= pd.to_datetime(df_temp['ds'], box=True, format= '%Y/%m/%d', exact=True)

In [38]:
df_raw= pd.merge(df_raw, df_temp, how='inner', on='ds')

In [39]:
df_raw.head()

          ds      y   temp_max   temp_min  rain_amount
0 2010-07-01  79590  30.500000  24.900000          0.0
1 2010-07-02  79456  25.799999  22.700001         70.0
2 2010-07-03  48469  25.600000  22.600000          1.0
3 2010-07-04   1045  29.700001  23.100000          0.0
4 2010-07-05  65049  30.600000  21.799999          0.0

In [46]:
df_weekday= {}
split_point= 7
for i in range(split_point):
    df_splited= df_raw.loc[df_raw.ds.apply(lambda x: x.weekday())==i]
    df_weekday[i]= {}
    for y in y_col:
        df_weekday[i][y]= ft_c.train_test_sample(
            df_splited, y, x_col, forecastday= varr.FORECASTDAY//split_point)

In [47]:
df_weekday[0]['y']

{'test':              ds       y  temp_max  temp_min  rain_amount
 2699 2017-11-27  117480       8.1       1.8          0.0,
 'testX':              ds  temp_max  temp_min  rain_amount
 2699 2017-11-27       8.1       1.8          0.0,
 'testY': 2699    117480
 Name: y, dtype: int64,
 'train':              ds       y   temp_max   temp_min  rain_amount
 4    2010-07-05   65049  30.600000  21.799999          0.0
 11   2010-07-12   67680  28.299999  22.200001          0.0
 18   2010-07-19   73816  29.299999  24.200001          0.0
 25   2010-07-26   75731  27.600000  23.400000          6.0
 32   2010-08-02   67290  31.600000  24.000000          1.0
 39   2010-08-09   67691  32.799999  26.400000          0.0
 46   2010-08-16   70947  26.500000  21.000000          0.0
 53   2010-08-23   71422  28.900000  23.500000         13.0
 60   2010-08-30   68075  29.799999  22.299999          0.0
 67   2010-09-06   74425  29.700001  23.000000          0.0
 74   2010-09-13   75663  27.400000  21.100000          0.0
 81   2010-09-20   56183  25.400000  19.400000          4.0
 87   2010-09-27   71022  23.500000  13.600000          1.0
 94   2010-10-04   69676  16.299999  11.300000          0.0
 101  2010-10-11   62805  20.900000  17.000000          0.0
 108  2010-10-18   67614  19.000000  11.100000          0.0
 115  2010-10-25   60929  13.000000   1.000000          0.0
 122  2010-11-01   66695  16.500000   2.700000          0.0
 129  2010-11-08   61310   8.800000   1.500000          1.0
 136  2010-11-15   63669   4.800000  -0.900000          0.0
 143  2010-11-22   64249   8.600000  -0.300000          0.0
 150  2010-11-29   57679   7.400000   0.300000          0.0
 157  2010-12-06   63322   3.900000  -4.600000          0.0
 164  2010-12-13   65609   6.100000  -0.900000          0.0
 171  2010-12-20   71531   8.200000   1.000000          0.0
 178  2010-12-27   73419  -2.000000  -7.500000          2.0
 185  2011-01-03   77381  -0.500000  -7.500000          0.0
 192  2011-01-10   72527  -4.600000 -10.400000          0.0
 199  2011-01-17   78487  -5.000000 -12.600000          0.0
 206  2011-01-24   75475  -6.200000 -11.600000          0.0
 ...         ...     ...        ...        ...          ...
 2489 2017-05-01   89340  26.600000  15.700000          0.0
 2496 2017-05-08  118401  22.700001  15.700000          0.2
 2503 2017-05-15  116007  19.200001  13.200000          0.1
 2510 2017-05-22  116142  27.100000  17.400000          0.0
 2517 2017-05-29  117597  27.900000  19.100000          0.0
 2524 2017-06-05  126649  29.100000  20.700001          0.0
 2531 2017-06-12  126420  27.500000  18.700001          0.0
 2538 2017-06-19  128490  29.200001  20.299999          0.0
 2545 2017-06-26  117364  26.400000  20.799999          4.5
 2552 2017-07-03  126213  26.700001  23.400000          2.0
 2559 2017-07-10  112780  25.299999  21.400000        123.7
 2566 2017-07-17  130187  29.400000  23.500000          6.1
 2573 2017-07-24  118896  28.100000  23.600000          2.3
 2580 2017-07-31  104468  26.700001  23.000000          5.3
 2587 2017-08-07  118317  33.400002  25.400000          0.0
 2594 2017-08-14  120424  26.600000  21.200001         23.5
 2601 2017-08-21  110586  28.500000  23.400000          1.7
 2608 2017-08-28  116657  26.700001  17.900000          5.3
 2615 2017-09-04  126057  29.600000  20.000000          0.0
 2622 2017-09-11  116849  23.799999  17.200001          0.0
 2629 2017-09-18  124903  27.100000  19.200001          0.0
 2636 2017-09-25  136445  27.600000  19.799999          0.0
 2643 2017-10-02   94909  26.500000  13.500000          0.0
 2650 2017-10-09   60909  25.799999  18.200001          0.0
 2657 2017-10-16  119379  20.200001   9.500000          0.0
 2664 2017-10-23  121804  17.900000   9.800000          0.0
 2671 2017-10-30  117899  12.300000   3.300000          0.0
 2678 2017-11-06  113480  15.900000   9.800000          0.0
 2685 2017-11-13  121625  11.000000   6.100000          5.6
 2692 2017-11-20  119059   3.700000  -4.000000          0.2

 [384 rows x 5 columns],
 'trainX':              ds   temp_max   temp_min  rain_amount
 4    2010-07-05  30.600000  21.799999          0.0
 11   2010-07-12  28.299999  22.200001          0.0
 18   2010-07-19  29.299999  24.200001          0.0
 25   2010-07-26  27.600000  23.400000          6.0
 32   2010-08-02  31.600000  24.000000          1.0
 39   2010-08-09  32.799999  26.400000          0.0
 46   2010-08-16  26.500000  21.000000          0.0
 53   2010-08-23  28.900000  23.500000         13.0
 60   2010-08-30  29.799999  22.299999          0.0
 67   2010-09-06  29.700001  23.000000          0.0
 74   2010-09-13  27.400000  21.100000          0.0
 81   2010-09-20  25.400000  19.400000          4.0
 87   2010-09-27  23.500000  13.600000          1.0
 94   2010-10-04  16.299999  11.300000          0.0
 101  2010-10-11  20.900000  17.000000          0.0
 108  2010-10-18  19.000000  11.100000          0.0
 115  2010-10-25  13.000000   1.000000          0.0
 122  2010-11-01  16.500000   2.700000          0.0
 129  2010-11-08   8.800000   1.500000          1.0
 136  2010-11-15   4.800000  -0.900000          0.0
 143  2010-11-22   8.600000  -0.300000          0.0
 150  2010-11-29   7.400000   0.300000          0.0
 157  2010-12-06   3.900000  -4.600000          0.0
 164  2010-12-13   6.100000  -0.900000          0.0
 171  2010-12-20   8.200000   1.000000          0.0
 178  2010-12-27  -2.000000  -7.500000          2.0
 185  2011-01-03  -0.500000  -7.500000          0.0
 192  2011-01-10  -4.600000 -10.400000          0.0
 199  2011-01-17  -5.000000 -12.600000          0.0
 206  2011-01-24  -6.200000 -11.600000          0.0
 ...         ...        ...        ...          ...
 2489 2017-05-01  26.600000  15.700000          0.0
 2496 2017-05-08  22.700001  15.700000          0.2
 2503 2017-05-15  19.200001  13.200000          0.1
 2510 2017-05-22  27.100000  17.400000          0.0
 2517 2017-05-29  27.900000  19.100000          0.0
 2524 2017-06-05  29.100000  20.700001          0.0
 2531 2017-06-12  27.500000  18.700001          0.0
 2538 2017-06-19  29.200001  20.299999          0.0
 2545 2017-06-26  26.400000  20.799999          4.5
 2552 2017-07-03  26.700001  23.400000          2.0
 2559 2017-07-10  25.299999  21.400000        123.7
 2566 2017-07-17  29.400000  23.500000          6.1
 2573 2017-07-24  28.100000  23.600000          2.3
 2580 2017-07-31  26.700001  23.000000          5.3
 2587 2017-08-07  33.400002  25.400000          0.0
 2594 2017-08-14  26.600000  21.200001         23.5
 2601 2017-08-21  28.500000  23.400000          1.7
 2608 2017-08-28  26.700001  17.900000          5.3
 2615 2017-09-04  29.600000  20.000000          0.0
 2622 2017-09-11  23.799999  17.200001          0.0
 2629 2017-09-18  27.100000  19.200001          0.0
 2636 2017-09-25  27.600000  19.799999          0.0
 2643 2017-10-02  26.500000  13.500000          0.0
 2650 2017-10-09  25.799999  18.200001          0.0
 2657 2017-10-16  20.200001   9.500000          0.0
 2664 2017-10-23  17.900000   9.800000          0.0
 2671 2017-10-30  12.300000   3.300000          0.0
 2678 2017-11-06  15.900000   9.800000          0.0
 2685 2017-11-13  11.000000   6.100000          5.6
 2692 2017-11-20   3.700000  -4.000000          0.2

 [384 rows x 4 columns],
 'trainY': 4        65049
 11       67680
 18       73816
 25       75731
 32       67290
 39       67691
 46       70947
 53       71422
 60       68075
 67       74425
 74       75663
 81       56183
 87       71022
 94       69676
 101      62805
 108      67614
 115      60929
 122      66695
 129      61310
 136      63669
 143      64249
 150      57679
 157      63322
 164      65609
 171      71531
 178      73419
 185      77381
 192      72527
 199      78487
 206      75475
          ...
 2489     89340
 2496    118401
 2503    116007
 2510    116142
 2517    117597
 2524    126649
 2531    126420
 2538    128490
 2545    117364
 2552    126213
 2559    112780
 2566    130187
 2573    118896
 2580    104468
 2587    118317
 2594    120424
 2601    110586
 2608    116657
 2615    126057
 2622    116849
 2629    124903
 2636    136445
 2643     94909
 2650     60909
 2657    119379
 2664    121804
 2671    117899
 2678    113480
 2685    121625
 2692    119059
 Name: y, Length: 384, dtype: int64}

In [48]:
result_dict= {}
for y in y_col:
    result_dict[y]= {
                    'mon': prpt.Bayseian2(df_weekday[0][y], 'week'),\
                    'tue': prpt.Bayseian2(df_weekday[1][y], 'week'),\
                    'wed': prpt.Bayseian2(df_weekday[2][y], 'week'),\
                    'thu': prpt.Bayseian2(df_weekday[3][y], 'week'),\
                    'pri': prpt.Bayseian2(df_weekday[4][y], 'week'),\
                    'sat': prpt.Bayseian2(df_weekday[5][y], 'week'),\
                    'sun': prpt.Bayseian2(df_weekday[6][y], 'week'),\
                    }

In [49]:
merged_dict={}
for y in y_col:
    merged_dict[y]={'future': 
                    pd.concat([result_dict[y]['mon']['future'],\
                              result_dict[y]['tue']['future'],\
                              result_dict[y]['wed']['future'],\
                              result_dict[y]['thu']['future'],\
                              result_dict[y]['pri']['future'],\
                              result_dict[y]['sat']['future'],\
                              result_dict[y]['sun']['future']],\
                              axis= 0).sort_values(by='ds', axis=0),
                   'forecastProphetTable':
                    pd.concat([result_dict[y]['mon']['forecastProphetTable'],\
                              result_dict[y]['tue']['forecastProphetTable'],\
                              result_dict[y]['wed']['forecastProphetTable'],\
                              result_dict[y]['thu']['forecastProphetTable'],\
                              result_dict[y]['pri']['forecastProphetTable'],\
                              result_dict[y]['sat']['forecastProphetTable'],\
                              result_dict[y]['sun']['forecastProphetTable']],\
                              axis= 0).sort_values(by='ds', axis=0)
                   }

In [50]:
forecast_dict={}
print(INPUT_FILENAME)
for y in y_col:
    merged_dict[y]['future']['ds']= pd.to_datetime(merged_dict[y]['future']['ds'], box=True, format= '%Y/%m/%d', exact=True)
    merged_dict[y]['forecastProphetTable']['ds']= pd.to_datetime(merged_dict[y]['forecastProphetTable']['ds'], box=True, format= '%Y/%m/%d', exact=True)
    forecast_dict[y]= prpt.extract_info_from(merged_dict[y]['future'], merged_dict[y]['forecastProphetTable'], varr.FORECASTDAY)
    forecast_dict[y]['result_df']= pd.merge(forecast_dict[y]['result_df'], df_raw[['ds', y]], how='inner', on='ds')
    print('RMSE with segment '+str(y)+': '+str(calc.rms_error(forecast_dict[y]['result_df'][y], forecast_dict[y]['result_df']['yhat'])))
    print('MAPE with segment '+str(y)+': '+str(calc.map_error(forecast_dict[y]['result_df'][y], forecast_dict[y]['result_df']['yhat'])))
    print('MAPE_with_std with segment '+str(y)+': '+str(calc.map_error_with_std(forecast_dict[y]['result_df'][y], forecast_dict[y]['result_df']['yhat'])))
    print('MAPE_div_std with segment '+str(y)+': '+str(calc.map_error_div_std(forecast_dict[y]['result_df'][y], forecast_dict[y]['result_df']['yhat'])))
    print('sMAPE of company code '+str(y)+': '+str(calc.smap_error(forecast_dict[y]['result_df'][y], forecast_dict[y]['result_df']['yhat'])))
    print(forecast_dict[y]['result_df'].head())
    ft_c.save_as_xlsx(varr.PJ_DIR+varr.DF_DIR, forecast_dict[y]['result_df'], INPUT_FILENAME, '_seg'+str(y)+'withweekday')
    print('\n')

KPP일별투입(10_17)_raw.xlsx
RMSE with segment y: 6476.52747853
MAPE with segment y: 45.6762554537
MAPE_with_std with segment y: 20.6395919102
MAPE_div_std with segment y: 73.5508237695
sMAPE of company code y: 4.87943060612
          ds  temp_max  temp_min  rain_amount           yhat       y
0 2017-11-24       2.9      -2.5          0.1  125038.754153  120647
1 2017-11-25       6.4       0.8         15.7   62623.574508   67756
2 2017-11-26       6.4      -2.4          0.0    -188.359619     100
3 2017-11-27       8.1       1.8          0.0  112834.287908  117480
4 2017-11-28       9.8       4.2          1.2  121613.045764  122192

In [23]:
# result_dict[y]['sun']['model'].plot(result_dict[y]['sun']['forecastProphetTable'])

In [24]:
# result_dict[y]['sun']['model'].plot_components(result_dict[y]['sun']['forecastProphetTable'])