In [1]:
import pandas as pd
import numpy as np

In [2]:
from collections import OrderedDict

In [3]:
import os, sys
sys.path.append(os.getcwd())

In [4]:
from _element import feature_control as ft_c
from _element import varr
from _element import calculations as calc
from _element.result_control import Result

from _alg.prophet import Prophet_timeseries

from _evaluation.cross_validation import Cross_Validation
from _evaluation import compare

In [5]:
INPUT_FILENAME= 'KPP일별투입(10_17)_raw.xlsx'

In [6]:
df_raw= ft_c.xlsx_opener(varr.PJ_DIR+varr.DF_DIR, INPUT_FILENAME)
df_temp= ft_c.xlsx_opener(varr.PJ_DIR+varr.TEMP_DATA_DIR, 'temp_data_merged.xlsx')

In [7]:
y_col= df_raw['raw'].columns.values.tolist()

In [8]:
try:
    y_col.remove('ds')
except ValueError:
    pass

In [9]:
x_col= df_temp['raw'].columns.values.tolist()

In [10]:
df_raw['raw']['ds']= pd.to_datetime(df_raw['raw']['ds'], box=True, format= '%Y/%m/%d', exact=True)
df_temp['raw']['ds']= pd.to_datetime(df_temp['raw']['ds'], box=True, format= '%Y/%m/%d', exact=True)
df_raw['raw']= pd.merge(df_raw['raw'], df_temp['raw'], how='inner', on='ds')

In [11]:
df_raw

{'raw':              ds       y   temp_max   temp_min  rain_amount
 0    2010-07-01   79590  30.500000  24.900000          0.0
 1    2010-07-02   79456  25.799999  22.700001         70.0
 2    2010-07-03   48469  25.600000  22.600000          1.0
 3    2010-07-04    1045  29.700001  23.100000          0.0
 4    2010-07-05   65049  30.600000  21.799999          0.0
 5    2010-07-06   84245  31.000000  22.400000          0.0
 6    2010-07-07   80493  29.600000  21.900000          0.0
 7    2010-07-08   73930  29.000000  21.299999          0.0
 8    2010-07-09   80166  29.299999  21.799999          0.0
 9    2010-07-10   49542  29.100000  22.900000          0.0
 10   2010-07-11    1411  25.900000  21.000000          0.0
 11   2010-07-12   67680  28.299999  22.200001          0.0
 12   2010-07-13   83587  31.299999  21.900000          0.0
 13   2010-07-14   73490  27.500000  22.700001          1.0
 14   2010-07-15   73332  29.799999  24.299999          0.0
 15   2010-07-16   74715  27.100000  21.700001         52.0
 16   2010-07-17   45526  24.299999  22.299999         89.0
 17   2010-07-18    1083  29.000000  24.700001          0.0
 18   2010-07-19   73816  29.299999  24.200001          0.0
 19   2010-07-20   87473  32.000000  26.700001          0.0
 20   2010-07-21   87970  29.500000  26.000000          0.0
 21   2010-07-22   76263  29.299999  24.500000          5.0
 22   2010-07-23   77157  25.000000  23.200001          2.0
 23   2010-07-24   48189  29.200001  23.600000          1.0
 24   2010-07-25     684  29.600000  23.000000         13.0
 25   2010-07-26   75731  27.600000  23.400000          6.0
 26   2010-07-27   87872  30.100000  19.400000          0.0
 27   2010-07-28   74544  30.600000  24.700001          1.0
 28   2010-07-29   72627  30.299999  25.100000          2.0
 29   2010-07-30   71448  30.799999  25.000000          0.0
 ...         ...     ...        ...        ...          ...
 2673 2017-11-01  127688  17.299999  13.400000          0.0
 2674 2017-11-02  132155  18.000000  14.000000          1.6
 2675 2017-11-03  133493  15.700000   4.500000          0.6
 2676 2017-11-04   65514  12.800000   3.200000          0.0
 2677 2017-11-05     105  14.200000   7.300000          0.0
 2678 2017-11-06  113480  15.900000   9.800000          0.0
 2679 2017-11-07  127948  17.200001  12.300000          0.0
 2680 2017-11-08  121521  17.200001   3.600000          0.0
 2681 2017-11-09  124710  15.600000   8.100000          0.0
 2682 2017-11-10  127191  14.700000   3.600000          7.4
 2683 2017-11-11   66905   9.500000   1.200000          0.0
 2684 2017-11-12      74  10.200000   3.700000          0.2
 2685 2017-11-13  121625  11.000000   6.100000          5.6
 2686 2017-11-14  123482   9.500000   1.900000          0.0
 2687 2017-11-15  125310   5.400000  -2.600000          0.0
 2688 2017-11-16  117847   5.800000  -0.900000          0.0
 2689 2017-11-17  120600   6.200000  -2.700000          0.3
 2690 2017-11-18   62655   0.700000  -6.000000          0.0
 2691 2017-11-19     131   3.100000  -3.100000          0.0
 2692 2017-11-20  119059   3.700000  -4.000000          0.2
 2693 2017-11-21  121680   6.800000   0.400000          0.5
 2694 2017-11-22  122640   9.500000  -0.800000          0.0
 2695 2017-11-23  110220   4.300000  -0.600000          0.8
 2696 2017-11-24  120647   2.900000  -2.500000          0.1
 2697 2017-11-25   67756   6.400000   0.800000         15.7
 2698 2017-11-26     100   6.400000  -2.400000          0.0
 2699 2017-11-27  117480   8.100000   1.800000          0.0
 2700 2017-11-28  122192   9.800000   4.200000          1.2
 2701 2017-11-29  120685   5.700000  -3.200000          0.0
 2702 2017-11-30  108386   1.800000  -7.100000          0.0

 [2703 rows x 5 columns]}

In [57]:
r= Result()
initial_forecastdict= r.forecast_dict

In [13]:
prpt_basis= Prophet_timeseries(cv= True)

In [14]:
prpt_basis.add_model('basis', 'day', regressor= None)

In [15]:
cv= Cross_Validation(df_raw)

In [16]:
cv.slice('y', x_col)

In [17]:
cv._data

{'raw_0': {'test':              ds       y  temp_max  temp_min  rain_amount
  2696 2017-11-24  120647       2.9      -2.5          0.1
  2697 2017-11-25   67756       6.4       0.8         15.7
  2698 2017-11-26     100       6.4      -2.4          0.0
  2699 2017-11-27  117480       8.1       1.8          0.0
  2700 2017-11-28  122192       9.8       4.2          1.2
  2701 2017-11-29  120685       5.7      -3.2          0.0
  2702 2017-11-30  108386       1.8      -7.1          0.0,
  'testX':              ds  temp_max  temp_min  rain_amount
  2696 2017-11-24       2.9      -2.5          0.1
  2697 2017-11-25       6.4       0.8         15.7
  2698 2017-11-26       6.4      -2.4          0.0
  2699 2017-11-27       8.1       1.8          0.0
  2700 2017-11-28       9.8       4.2          1.2
  2701 2017-11-29       5.7      -3.2          0.0
  2702 2017-11-30       1.8      -7.1          0.0,
  'testY': 2696    120647
  2697     67756
  2698       100
  2699    117480
  2700    122192
  2701    120685
  2702    108386
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount
  0    2010-07-01   79590  30.500000  24.900000          0.0
  1    2010-07-02   79456  25.799999  22.700001         70.0
  2    2010-07-03   48469  25.600000  22.600000          1.0
  3    2010-07-04    1045  29.700001  23.100000          0.0
  4    2010-07-05   65049  30.600000  21.799999          0.0
  5    2010-07-06   84245  31.000000  22.400000          0.0
  6    2010-07-07   80493  29.600000  21.900000          0.0
  7    2010-07-08   73930  29.000000  21.299999          0.0
  8    2010-07-09   80166  29.299999  21.799999          0.0
  9    2010-07-10   49542  29.100000  22.900000          0.0
  10   2010-07-11    1411  25.900000  21.000000          0.0
  11   2010-07-12   67680  28.299999  22.200001          0.0
  12   2010-07-13   83587  31.299999  21.900000          0.0
  13   2010-07-14   73490  27.500000  22.700001          1.0
  14   2010-07-15   73332  29.799999  24.299999          0.0
  15   2010-07-16   74715  27.100000  21.700001         52.0
  16   2010-07-17   45526  24.299999  22.299999         89.0
  17   2010-07-18    1083  29.000000  24.700001          0.0
  18   2010-07-19   73816  29.299999  24.200001          0.0
  19   2010-07-20   87473  32.000000  26.700001          0.0
  20   2010-07-21   87970  29.500000  26.000000          0.0
  21   2010-07-22   76263  29.299999  24.500000          5.0
  22   2010-07-23   77157  25.000000  23.200001          2.0
  23   2010-07-24   48189  29.200001  23.600000          1.0
  24   2010-07-25     684  29.600000  23.000000         13.0
  25   2010-07-26   75731  27.600000  23.400000          6.0
  26   2010-07-27   87872  30.100000  19.400000          0.0
  27   2010-07-28   74544  30.600000  24.700001          1.0
  28   2010-07-29   72627  30.299999  25.100000          2.0
  29   2010-07-30   71448  30.799999  25.000000          0.0
  ...         ...     ...        ...        ...          ...
  2666 2017-10-25  126426  19.000000  10.700000          0.0
  2667 2017-10-26  128680  17.299999  12.100000          0.0
  2668 2017-10-27  126566  22.000000  10.800000          0.0
  2669 2017-10-28   74269  22.100000  11.100000          0.0
  2670 2017-10-29     320  15.500000   3.800000          0.0
  2671 2017-10-30  117899  12.300000   3.300000          0.0
  2672 2017-10-31  121179  14.700000   9.800000          0.0
  2673 2017-11-01  127688  17.299999  13.400000          0.0
  2674 2017-11-02  132155  18.000000  14.000000          1.6
  2675 2017-11-03  133493  15.700000   4.500000          0.6
  2676 2017-11-04   65514  12.800000   3.200000          0.0
  2677 2017-11-05     105  14.200000   7.300000          0.0
  2678 2017-11-06  113480  15.900000   9.800000          0.0
  2679 2017-11-07  127948  17.200001  12.300000          0.0
  2680 2017-11-08  121521  17.200001   3.600000          0.0
  2681 2017-11-09  124710  15.600000   8.100000          0.0
  2682 2017-11-10  127191  14.700000   3.600000          7.4
  2683 2017-11-11   66905   9.500000   1.200000          0.0
  2684 2017-11-12      74  10.200000   3.700000          0.2
  2685 2017-11-13  121625  11.000000   6.100000          5.6
  2686 2017-11-14  123482   9.500000   1.900000          0.0
  2687 2017-11-15  125310   5.400000  -2.600000          0.0
  2688 2017-11-16  117847   5.800000  -0.900000          0.0
  2689 2017-11-17  120600   6.200000  -2.700000          0.3
  2690 2017-11-18   62655   0.700000  -6.000000          0.0
  2691 2017-11-19     131   3.100000  -3.100000          0.0
  2692 2017-11-20  119059   3.700000  -4.000000          0.2
  2693 2017-11-21  121680   6.800000   0.400000          0.5
  2694 2017-11-22  122640   9.500000  -0.800000          0.0
  2695 2017-11-23  110220   4.300000  -0.600000          0.8

  [2696 rows x 5 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  0    2010-07-01  30.500000  24.900000          0.0
  1    2010-07-02  25.799999  22.700001         70.0
  2    2010-07-03  25.600000  22.600000          1.0
  3    2010-07-04  29.700001  23.100000          0.0
  4    2010-07-05  30.600000  21.799999          0.0
  5    2010-07-06  31.000000  22.400000          0.0
  6    2010-07-07  29.600000  21.900000          0.0
  7    2010-07-08  29.000000  21.299999          0.0
  8    2010-07-09  29.299999  21.799999          0.0
  9    2010-07-10  29.100000  22.900000          0.0
  10   2010-07-11  25.900000  21.000000          0.0
  11   2010-07-12  28.299999  22.200001          0.0
  12   2010-07-13  31.299999  21.900000          0.0
  13   2010-07-14  27.500000  22.700001          1.0
  14   2010-07-15  29.799999  24.299999          0.0
  15   2010-07-16  27.100000  21.700001         52.0
  16   2010-07-17  24.299999  22.299999         89.0
  17   2010-07-18  29.000000  24.700001          0.0
  18   2010-07-19  29.299999  24.200001          0.0
  19   2010-07-20  32.000000  26.700001          0.0
  20   2010-07-21  29.500000  26.000000          0.0
  21   2010-07-22  29.299999  24.500000          5.0
  22   2010-07-23  25.000000  23.200001          2.0
  23   2010-07-24  29.200001  23.600000          1.0
  24   2010-07-25  29.600000  23.000000         13.0
  25   2010-07-26  27.600000  23.400000          6.0
  26   2010-07-27  30.100000  19.400000          0.0
  27   2010-07-28  30.600000  24.700001          1.0
  28   2010-07-29  30.299999  25.100000          2.0
  29   2010-07-30  30.799999  25.000000          0.0
  ...         ...        ...        ...          ...
  2666 2017-10-25  19.000000  10.700000          0.0
  2667 2017-10-26  17.299999  12.100000          0.0
  2668 2017-10-27  22.000000  10.800000          0.0
  2669 2017-10-28  22.100000  11.100000          0.0
  2670 2017-10-29  15.500000   3.800000          0.0
  2671 2017-10-30  12.300000   3.300000          0.0
  2672 2017-10-31  14.700000   9.800000          0.0
  2673 2017-11-01  17.299999  13.400000          0.0
  2674 2017-11-02  18.000000  14.000000          1.6
  2675 2017-11-03  15.700000   4.500000          0.6
  2676 2017-11-04  12.800000   3.200000          0.0
  2677 2017-11-05  14.200000   7.300000          0.0
  2678 2017-11-06  15.900000   9.800000          0.0
  2679 2017-11-07  17.200001  12.300000          0.0
  2680 2017-11-08  17.200001   3.600000          0.0
  2681 2017-11-09  15.600000   8.100000          0.0
  2682 2017-11-10  14.700000   3.600000          7.4
  2683 2017-11-11   9.500000   1.200000          0.0
  2684 2017-11-12  10.200000   3.700000          0.2
  2685 2017-11-13  11.000000   6.100000          5.6
  2686 2017-11-14   9.500000   1.900000          0.0
  2687 2017-11-15   5.400000  -2.600000          0.0
  2688 2017-11-16   5.800000  -0.900000          0.0
  2689 2017-11-17   6.200000  -2.700000          0.3
  2690 2017-11-18   0.700000  -6.000000          0.0
  2691 2017-11-19   3.100000  -3.100000          0.0
  2692 2017-11-20   3.700000  -4.000000          0.2
  2693 2017-11-21   6.800000   0.400000          0.5
  2694 2017-11-22   9.500000  -0.800000          0.0
  2695 2017-11-23   4.300000  -0.600000          0.8

  [2696 rows x 4 columns],
  'trainY': 0        79590
  1        79456
  2        48469
  3         1045
  4        65049
  5        84245
  6        80493
  7        73930
  8        80166
  9        49542
  10        1411
  11       67680
  12       83587
  13       73490
  14       73332
  15       74715
  16       45526
  17        1083
  18       73816
  19       87473
  20       87970
  21       76263
  22       77157
  23       48189
  24         684
  25       75731
  26       87872
  27       74544
  28       72627
  29       71448
           ...
  2666    126426
  2667    128680
  2668    126566
  2669     74269
  2670       320
  2671    117899
  2672    121179
  2673    127688
  2674    132155
  2675    133493
  2676     65514
  2677       105
  2678    113480
  2679    127948
  2680    121521
  2681    124710
  2682    127191
  2683     66905
  2684        74
  2685    121625
  2686    123482
  2687    125310
  2688    117847
  2689    120600
  2690     62655
  2691       131
  2692    119059
  2693    121680
  2694    122640
  2695    110220
  Name: y, Length: 2696, dtype: int64},
 'raw_1': {'test':              ds       y   temp_max   temp_min  rain_amount
  2626 2017-09-15  146743  27.299999  17.200001          0.0
  2627 2017-09-16   78827  26.100000  19.200001          0.0
  2628 2017-09-17     630  27.400000  17.500000          0.0
  2629 2017-09-18  124903  27.100000  19.200001          0.0
  2630 2017-09-19  142824  25.900000  14.900000          5.8
  2631 2017-09-20  134630  23.500000  14.800000          0.0
  2632 2017-09-21  135391  25.400000  15.700000          0.0,
  'testX':              ds   temp_max   temp_min  rain_amount
  2626 2017-09-15  27.299999  17.200001          0.0
  2627 2017-09-16  26.100000  19.200001          0.0
  2628 2017-09-17  27.400000  17.500000          0.0
  2629 2017-09-18  27.100000  19.200001          0.0
  2630 2017-09-19  25.900000  14.900000          5.8
  2631 2017-09-20  23.500000  14.800000          0.0
  2632 2017-09-21  25.400000  15.700000          0.0,
  'testY': 2626    146743
  2627     78827
  2628       630
  2629    124903
  2630    142824
  2631    134630
  2632    135391
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount
  0    2010-07-01   79590  30.500000  24.900000     0.000000
  1    2010-07-02   79456  25.799999  22.700001    70.000000
  2    2010-07-03   48469  25.600000  22.600000     1.000000
  3    2010-07-04    1045  29.700001  23.100000     0.000000
  4    2010-07-05   65049  30.600000  21.799999     0.000000
  5    2010-07-06   84245  31.000000  22.400000     0.000000
  6    2010-07-07   80493  29.600000  21.900000     0.000000
  7    2010-07-08   73930  29.000000  21.299999     0.000000
  8    2010-07-09   80166  29.299999  21.799999     0.000000
  9    2010-07-10   49542  29.100000  22.900000     0.000000
  10   2010-07-11    1411  25.900000  21.000000     0.000000
  11   2010-07-12   67680  28.299999  22.200001     0.000000
  12   2010-07-13   83587  31.299999  21.900000     0.000000
  13   2010-07-14   73490  27.500000  22.700001     1.000000
  14   2010-07-15   73332  29.799999  24.299999     0.000000
  15   2010-07-16   74715  27.100000  21.700001    52.000000
  16   2010-07-17   45526  24.299999  22.299999    89.000000
  17   2010-07-18    1083  29.000000  24.700001     0.000000
  18   2010-07-19   73816  29.299999  24.200001     0.000000
  19   2010-07-20   87473  32.000000  26.700001     0.000000
  20   2010-07-21   87970  29.500000  26.000000     0.000000
  21   2010-07-22   76263  29.299999  24.500000     5.000000
  22   2010-07-23   77157  25.000000  23.200001     2.000000
  23   2010-07-24   48189  29.200001  23.600000     1.000000
  24   2010-07-25     684  29.600000  23.000000    13.000000
  25   2010-07-26   75731  27.600000  23.400000     6.000000
  26   2010-07-27   87872  30.100000  19.400000     0.000000
  27   2010-07-28   74544  30.600000  24.700001     1.000000
  28   2010-07-29   72627  30.299999  25.100000     2.000000
  29   2010-07-30   71448  30.799999  25.000000     0.000000
  ...         ...     ...        ...        ...          ...
  2596 2017-08-16  129172  26.600000  20.000000     1.700000
  2597 2017-08-17  136147  28.000000  23.299999     0.400000
  2598 2017-08-18  139905  29.400000  22.500000     0.000000
  2599 2017-08-19   75455  27.500000  21.299999    68.200001
  2600 2017-08-20      82  26.000000  22.600000    65.000001
  2601 2017-08-21  110586  28.500000  23.400000     1.700000
  2602 2017-08-22  128824  32.799999  24.500000    21.900000
  2603 2017-08-23  131951  30.700001  26.400000    11.700000
  2604 2017-08-24  118481  27.299999  21.700001     9.900000
  2605 2017-08-25  131524  31.100000  20.900000     0.000000
  2606 2017-08-26   64524  29.100000  19.700001     0.000000
  2607 2017-08-27      64  26.500000  20.200001     0.000000
  2608 2017-08-28  116657  26.700001  17.900000     5.300000
  2609 2017-08-29  132152  22.600000  16.299999     0.000000
  2610 2017-08-30  129925  21.500000  17.100000     0.000000
  2611 2017-08-31  122819  27.700001  17.900000     0.000000
  2612 2017-09-01  133918  28.299999  18.100000     0.000000
  2613 2017-09-02   71749  28.600000  19.200001     0.000000
  2614 2017-09-03      64  28.299999  19.799999     0.000000
  2615 2017-09-04  126057  29.600000  20.000000     0.000000
  2616 2017-09-05  138108  23.100000  19.799999     0.500000
  2617 2017-09-06  128123  23.600000  18.100000     2.800000
  2618 2017-09-07  132144  26.299999  20.200001     0.000000
  2619 2017-09-08  141243  28.700001  19.400000     0.000000
  2620 2017-09-09   76481  27.900000  20.000000     0.000000
  2621 2017-09-10     620  25.100000  17.900000    21.800000
  2622 2017-09-11  116849  23.799999  17.200001     0.000000
  2623 2017-09-12  139633  27.000000  16.500000     0.000000
  2624 2017-09-13  134987  27.200001  15.600000     0.000000
  2625 2017-09-14  130742  27.700001  18.400000     0.000000

  [2626 rows x 5 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  0    2010-07-01  30.500000  24.900000     0.000000
  1    2010-07-02  25.799999  22.700001    70.000000
  2    2010-07-03  25.600000  22.600000     1.000000
  3    2010-07-04  29.700001  23.100000     0.000000
  4    2010-07-05  30.600000  21.799999     0.000000
  5    2010-07-06  31.000000  22.400000     0.000000
  6    2010-07-07  29.600000  21.900000     0.000000
  7    2010-07-08  29.000000  21.299999     0.000000
  8    2010-07-09  29.299999  21.799999     0.000000
  9    2010-07-10  29.100000  22.900000     0.000000
  10   2010-07-11  25.900000  21.000000     0.000000
  11   2010-07-12  28.299999  22.200001     0.000000
  12   2010-07-13  31.299999  21.900000     0.000000
  13   2010-07-14  27.500000  22.700001     1.000000
  14   2010-07-15  29.799999  24.299999     0.000000
  15   2010-07-16  27.100000  21.700001    52.000000
  16   2010-07-17  24.299999  22.299999    89.000000
  17   2010-07-18  29.000000  24.700001     0.000000
  18   2010-07-19  29.299999  24.200001     0.000000
  19   2010-07-20  32.000000  26.700001     0.000000
  20   2010-07-21  29.500000  26.000000     0.000000
  21   2010-07-22  29.299999  24.500000     5.000000
  22   2010-07-23  25.000000  23.200001     2.000000
  23   2010-07-24  29.200001  23.600000     1.000000
  24   2010-07-25  29.600000  23.000000    13.000000
  25   2010-07-26  27.600000  23.400000     6.000000
  26   2010-07-27  30.100000  19.400000     0.000000
  27   2010-07-28  30.600000  24.700001     1.000000
  28   2010-07-29  30.299999  25.100000     2.000000
  29   2010-07-30  30.799999  25.000000     0.000000
  ...         ...        ...        ...          ...
  2596 2017-08-16  26.600000  20.000000     1.700000
  2597 2017-08-17  28.000000  23.299999     0.400000
  2598 2017-08-18  29.400000  22.500000     0.000000
  2599 2017-08-19  27.500000  21.299999    68.200001
  2600 2017-08-20  26.000000  22.600000    65.000001
  2601 2017-08-21  28.500000  23.400000     1.700000
  2602 2017-08-22  32.799999  24.500000    21.900000
  2603 2017-08-23  30.700001  26.400000    11.700000
  2604 2017-08-24  27.299999  21.700001     9.900000
  2605 2017-08-25  31.100000  20.900000     0.000000
  2606 2017-08-26  29.100000  19.700001     0.000000
  2607 2017-08-27  26.500000  20.200001     0.000000
  2608 2017-08-28  26.700001  17.900000     5.300000
  2609 2017-08-29  22.600000  16.299999     0.000000
  2610 2017-08-30  21.500000  17.100000     0.000000
  2611 2017-08-31  27.700001  17.900000     0.000000
  2612 2017-09-01  28.299999  18.100000     0.000000
  2613 2017-09-02  28.600000  19.200001     0.000000
  2614 2017-09-03  28.299999  19.799999     0.000000
  2615 2017-09-04  29.600000  20.000000     0.000000
  2616 2017-09-05  23.100000  19.799999     0.500000
  2617 2017-09-06  23.600000  18.100000     2.800000
  2618 2017-09-07  26.299999  20.200001     0.000000
  2619 2017-09-08  28.700001  19.400000     0.000000
  2620 2017-09-09  27.900000  20.000000     0.000000
  2621 2017-09-10  25.100000  17.900000    21.800000
  2622 2017-09-11  23.799999  17.200001     0.000000
  2623 2017-09-12  27.000000  16.500000     0.000000
  2624 2017-09-13  27.200001  15.600000     0.000000
  2625 2017-09-14  27.700001  18.400000     0.000000

  [2626 rows x 4 columns],
  'trainY': 0        79590
  1        79456
  2        48469
  3         1045
  4        65049
  5        84245
  6        80493
  7        73930
  8        80166
  9        49542
  10        1411
  11       67680
  12       83587
  13       73490
  14       73332
  15       74715
  16       45526
  17        1083
  18       73816
  19       87473
  20       87970
  21       76263
  22       77157
  23       48189
  24         684
  25       75731
  26       87872
  27       74544
  28       72627
  29       71448
           ...
  2596    129172
  2597    136147
  2598    139905
  2599     75455
  2600        82
  2601    110586
  2602    128824
  2603    131951
  2604    118481
  2605    131524
  2606     64524
  2607        64
  2608    116657
  2609    132152
  2610    129925
  2611    122819
  2612    133918
  2613     71749
  2614        64
  2615    126057
  2616    138108
  2617    128123
  2618    132144
  2619    141243
  2620     76481
  2621       620
  2622    116849
  2623    139633
  2624    134987
  2625    130742
  Name: y, Length: 2626, dtype: int64},
 'raw_2': {'test':              ds       y   temp_max   temp_min  rain_amount
  2556 2017-07-07  138278  28.799999  24.900000         22.2
  2557 2017-07-08   78658  27.400000  24.900000          8.6
  2558 2017-07-09     102  29.200001  23.600000         70.5
  2559 2017-07-10  112780  25.299999  21.400000        123.7
  2560 2017-07-11  134299  31.200001  24.799999          0.1
  2561 2017-07-12  123082  30.600000  22.900000          0.0
  2562 2017-07-13  123054  31.500000  26.200001          0.0,
  'testX':              ds   temp_max   temp_min  rain_amount
  2556 2017-07-07  28.799999  24.900000         22.2
  2557 2017-07-08  27.400000  24.900000          8.6
  2558 2017-07-09  29.200001  23.600000         70.5
  2559 2017-07-10  25.299999  21.400000        123.7
  2560 2017-07-11  31.200001  24.799999          0.1
  2561 2017-07-12  30.600000  22.900000          0.0
  2562 2017-07-13  31.500000  26.200001          0.0,
  'testY': 2556    138278
  2557     78658
  2558       102
  2559    112780
  2560    134299
  2561    123082
  2562    123054
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount
  0    2010-07-01   79590  30.500000  24.900000          0.0
  1    2010-07-02   79456  25.799999  22.700001         70.0
  2    2010-07-03   48469  25.600000  22.600000          1.0

In [18]:
prpt_basis.fit('basis', txs_traintest= cv._data)

In [19]:
prpt_basis.forecast('basis', forecast_dict= r.forecast_dict)

C:\Studying\Project_Nextop\nextop-engine\nextop_engine\_alg\prophet.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  result_forecast['ds'], box=True, format= '%Y/%m/%d', exact=True

In [20]:
r.err_rate()

In [21]:
r.avg_result('basis', delete_case= True)

{'forecast': [          ds       y  temp_max  temp_min  rain_amount           yhat
0 2017-11-24  120647       2.9      -2.5          0.1  120459.004517
1 2017-11-25   67756       6.4       0.8         15.7   76531.728142
2 2017-11-26     100       6.4      -2.4          0.0   20583.772102
3 2017-11-27  117480       8.1       1.8          0.0  106788.860212
4 2017-11-28  122192       9.8       4.2          1.2  118297.075805
5 2017-11-29  120685       5.7      -3.2          0.0  117146.076961
6 2017-11-30  108386       1.8      -7.1          0.0  115046.752933,           ds       y   temp_max   temp_min  rain_amount           yhat
0 2017-09-15  146743  27.299999  17.200001          0.0  127131.633881
1 2017-09-16   78827  26.100000  19.200001          0.0   82892.379655
2 2017-09-17     630  27.400000  17.500000          0.0   27038.015339
3 2017-09-18  124903  27.100000  19.200001          0.0  112254.209893
4 2017-09-19  142824  25.900000  14.900000          5.8  123613.654498
5 2017-09-20  134630  23.500000  14.800000          0.0  122257.988758
6 2017-09-21  135391  25.400000  15.700000          0.0  119866.988945,           ds       y   temp_max   temp_min  rain_amount           yhat
0 2017-07-07  138278  28.799999  24.900000         22.2  122817.337569
1 2017-07-08   78658  27.400000  24.900000          8.6   80338.759132
2 2017-07-09     102  29.200001  23.600000         70.5   26173.514955
3 2017-07-10  112780  25.299999  21.400000        123.7  111336.192941
4 2017-07-11  134299  31.200001  24.799999          0.1  123537.181523
5 2017-07-12  123082  30.600000  22.900000          0.0  122868.973529
6 2017-07-13  123054  31.500000  26.200001          0.0  121652.623738,           ds       y   temp_max  temp_min  rain_amount           yhat
0 2017-04-28  139093  20.700001       9.3          0.0  119152.480055
1 2017-04-29   78884  22.200001      14.1          0.0   76015.403567
2 2017-04-30     138  26.700001      13.2          0.0   21606.102734
3 2017-05-01   89340  26.600000      15.7          0.0  105358.040610
4 2017-05-02  133677  25.700001      14.6          0.0  117454.566273
5 2017-05-03   76708  28.299999      15.3          0.0  116176.472736
6 2017-05-04  133802  26.400000      18.0          0.0  114100.762090,           ds       y  temp_max  temp_min  rain_amount           yhat
0 2017-02-17  116907       4.8      -7.2          0.0  120799.352682
1 2017-02-18   62986       2.1      -6.2          0.0   78290.171440
2 2017-02-19      80       5.0      -0.4          3.2   22590.580159
3 2017-02-20  107804       0.6      -6.4          0.0  113874.499344
4 2017-02-21  110120       4.9      -4.6          0.0  125726.728623
5 2017-02-22  109244       3.4      -3.1          3.1  124347.281932
6 2017-02-23  111581       1.6      -5.7          0.0  125029.731472], 'RMSE': 15051.676771365692, 'MAPE': 2692.5521531767708, 'MAPE_with_std': 27.930552619216307, 'MAPE_div_std': 112.78223488901767, 'sMAPE': 13.080218169960204}

In [22]:
r.print_err_rate()

RMSE with segment basis_result: 15051.6768
MAPE with segment basis_result: 2692.5522
MAPE_with_std with segment basis_result: 27.9306
MAPE_div_std with segment basis_result: 112.7822
sMAPE with segment basis_result: 13.0802

In [23]:
r.forecast_dict.keys()

odict_keys(['basis_result'])

In [24]:
ft_c.add_division(df_raw, 'raw', 7, start_num= 3)

In [25]:
ft_c.divide_by(df_raw, 'raw', 'seasonality_7,3')

In [37]:
cv2= Cross_Validation(df_raw)

In [38]:
cv2.slice('y', x_col, forecastday= varr.FORECASTDAY//7)

In [39]:
cv2._data

{'(0,)_0': {'test':              ds       y   temp_max  temp_min  rain_amount  seasonality_7,3
  2657 2017-10-16  119379  20.200001       9.5          0.0                0
  2664 2017-10-23  121804  17.900000       9.8          0.0                0
  2671 2017-10-30  117899  12.300000       3.3          0.0                0
  2678 2017-11-06  113480  15.900000       9.8          0.0                0
  2685 2017-11-13  121625  11.000000       6.1          5.6                0
  2692 2017-11-20  119059   3.700000      -4.0          0.2                0
  2699 2017-11-27  117480   8.100000       1.8          0.0                0,
  'testX':              ds   temp_max  temp_min  rain_amount
  2657 2017-10-16  20.200001       9.5          0.0
  2664 2017-10-23  17.900000       9.8          0.0
  2671 2017-10-30  12.300000       3.3          0.0
  2678 2017-11-06  15.900000       9.8          0.0
  2685 2017-11-13  11.000000       6.1          5.6
  2692 2017-11-20   3.700000      -4.0          0.2
  2699 2017-11-27   8.100000       1.8          0.0,
  'testY': 2657    119379
  2664    121804
  2671    117899
  2678    113480
  2685    121625
  2692    119059
  2699    117480
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  4    2010-07-05   65049  30.600000  21.799999          0.0                0
  11   2010-07-12   67680  28.299999  22.200001          0.0                0
  18   2010-07-19   73816  29.299999  24.200001          0.0                0
  25   2010-07-26   75731  27.600000  23.400000          6.0                0
  32   2010-08-02   67290  31.600000  24.000000          1.0                0
  39   2010-08-09   67691  32.799999  26.400000          0.0                0
  46   2010-08-16   70947  26.500000  21.000000          0.0                0
  53   2010-08-23   71422  28.900000  23.500000         13.0                0
  60   2010-08-30   68075  29.799999  22.299999          0.0                0
  67   2010-09-06   74425  29.700001  23.000000          0.0                0
  74   2010-09-13   75663  27.400000  21.100000          0.0                0
  81   2010-09-20   56183  25.400000  19.400000          4.0                0
  88   2010-09-28   88537  18.299999  10.300000          0.0                0
  95   2010-10-05   84576  19.000000  11.400000          0.0                0
  102  2010-10-12   78801  18.600000  13.000000          0.0                0
  109  2010-10-19   81797  21.400000  12.800000          0.0                0
  116  2010-10-26   82130   7.800000   0.800000          0.0                0
  123  2010-11-02   84088   8.900000   1.100000          0.0                0
  130  2010-11-09   78489   5.800000  -0.400000          0.0                0
  137  2010-11-16   81291   8.600000   1.400000          0.0                0
  144  2010-11-23   79005  12.500000   3.100000          0.0                0
  151  2010-11-30   79344  12.000000   5.400000          0.0                0
  158  2010-12-07   77069   3.800000  -3.400000          0.0                0
  165  2010-12-14   75704  -0.800000 -12.500000          0.0                0
  172  2010-12-21   78194  10.600000   0.600000          0.0                0
  179  2010-12-28   73083  -0.200000  -9.100000          0.0                0
  186  2011-01-04   84386  -2.100000  -6.500000          0.0                0
  193  2011-01-11   92580  -2.700000 -10.900000          1.0                0
  200  2011-01-18   86737  -3.200000  -9.700000          0.0                0
  207  2011-01-25   93200  -4.600000 -10.700000          0.0                0
  ...         ...     ...        ...        ...          ...              ...
  2447 2017-03-20  115555  13.700000   4.400000          0.0                0
  2454 2017-03-27  112817   8.300000   2.500000          0.8                0
  2461 2017-04-03  113825  17.500000   6.500000          0.0                0
  2468 2017-04-10  111817  20.600000  12.500000          0.0                0
  2475 2017-04-17  117124  18.500000   9.500000          4.5                0
  2482 2017-04-24  116360  19.600000  12.800000          0.0                0
  2489 2017-05-01   89340  26.600000  15.700000          0.0                0
  2496 2017-05-08  118401  22.700001  15.700000          0.2                0
  2503 2017-05-15  116007  19.200001  13.200000          0.1                0
  2510 2017-05-22  116142  27.100000  17.400000          0.0                0
  2517 2017-05-29  117597  27.900000  19.100000          0.0                0
  2524 2017-06-05  126649  29.100000  20.700001          0.0                0
  2531 2017-06-12  126420  27.500000  18.700001          0.0                0
  2538 2017-06-19  128490  29.200001  20.299999          0.0                0
  2545 2017-06-26  117364  26.400000  20.799999          4.5                0
  2552 2017-07-03  126213  26.700001  23.400000          2.0                0
  2559 2017-07-10  112780  25.299999  21.400000        123.7                0
  2566 2017-07-17  130187  29.400000  23.500000          6.1                0
  2573 2017-07-24  118896  28.100000  23.600000          2.3                0
  2580 2017-07-31  104468  26.700001  23.000000          5.3                0
  2587 2017-08-07  118317  33.400002  25.400000          0.0                0
  2594 2017-08-14  120424  26.600000  21.200001         23.5                0
  2601 2017-08-21  110586  28.500000  23.400000          1.7                0
  2608 2017-08-28  116657  26.700001  17.900000          5.3                0
  2615 2017-09-04  126057  29.600000  20.000000          0.0                0
  2622 2017-09-11  116849  23.799999  17.200001          0.0                0
  2629 2017-09-18  124903  27.100000  19.200001          0.0                0
  2636 2017-09-25  136445  27.600000  19.799999          0.0                0
  2643 2017-10-02   94909  26.500000  13.500000          0.0                0
  2650 2017-10-09   60909  25.799999  18.200001          0.0                0

  [379 rows x 6 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  4    2010-07-05  30.600000  21.799999          0.0
  11   2010-07-12  28.299999  22.200001          0.0
  18   2010-07-19  29.299999  24.200001          0.0
  25   2010-07-26  27.600000  23.400000          6.0
  32   2010-08-02  31.600000  24.000000          1.0
  39   2010-08-09  32.799999  26.400000          0.0
  46   2010-08-16  26.500000  21.000000          0.0
  53   2010-08-23  28.900000  23.500000         13.0
  60   2010-08-30  29.799999  22.299999          0.0
  67   2010-09-06  29.700001  23.000000          0.0
  74   2010-09-13  27.400000  21.100000          0.0
  81   2010-09-20  25.400000  19.400000          4.0
  88   2010-09-28  18.299999  10.300000          0.0
  95   2010-10-05  19.000000  11.400000          0.0
  102  2010-10-12  18.600000  13.000000          0.0
  109  2010-10-19  21.400000  12.800000          0.0
  116  2010-10-26   7.800000   0.800000          0.0
  123  2010-11-02   8.900000   1.100000          0.0
  130  2010-11-09   5.800000  -0.400000          0.0
  137  2010-11-16   8.600000   1.400000          0.0
  144  2010-11-23  12.500000   3.100000          0.0
  151  2010-11-30  12.000000   5.400000          0.0
  158  2010-12-07   3.800000  -3.400000          0.0
  165  2010-12-14  -0.800000 -12.500000          0.0
  172  2010-12-21  10.600000   0.600000          0.0
  179  2010-12-28  -0.200000  -9.100000          0.0
  186  2011-01-04  -2.100000  -6.500000          0.0
  193  2011-01-11  -2.700000 -10.900000          1.0
  200  2011-01-18  -3.200000  -9.700000          0.0
  207  2011-01-25  -4.600000 -10.700000          0.0
  ...         ...        ...        ...          ...
  2447 2017-03-20  13.700000   4.400000          0.0
  2454 2017-03-27   8.300000   2.500000          0.8
  2461 2017-04-03  17.500000   6.500000          0.0
  2468 2017-04-10  20.600000  12.500000          0.0
  2475 2017-04-17  18.500000   9.500000          4.5
  2482 2017-04-24  19.600000  12.800000          0.0
  2489 2017-05-01  26.600000  15.700000          0.0
  2496 2017-05-08  22.700001  15.700000          0.2
  2503 2017-05-15  19.200001  13.200000          0.1
  2510 2017-05-22  27.100000  17.400000          0.0
  2517 2017-05-29  27.900000  19.100000          0.0
  2524 2017-06-05  29.100000  20.700001          0.0
  2531 2017-06-12  27.500000  18.700001          0.0
  2538 2017-06-19  29.200001  20.299999          0.0
  2545 2017-06-26  26.400000  20.799999          4.5
  2552 2017-07-03  26.700001  23.400000          2.0
  2559 2017-07-10  25.299999  21.400000        123.7
  2566 2017-07-17  29.400000  23.500000          6.1
  2573 2017-07-24  28.100000  23.600000          2.3
  2580 2017-07-31  26.700001  23.000000          5.3
  2587 2017-08-07  33.400002  25.400000          0.0
  2594 2017-08-14  26.600000  21.200001         23.5
  2601 2017-08-21  28.500000  23.400000          1.7
  2608 2017-08-28  26.700001  17.900000          5.3
  2615 2017-09-04  29.600000  20.000000          0.0
  2622 2017-09-11  23.799999  17.200001          0.0
  2629 2017-09-18  27.100000  19.200001          0.0
  2636 2017-09-25  27.600000  19.799999          0.0
  2643 2017-10-02  26.500000  13.500000          0.0
  2650 2017-10-09  25.799999  18.200001          0.0

  [379 rows x 4 columns],
  'trainY': 4        65049
  11       67680
  18       73816
  25       75731
  32       67290
  39       67691
  46       70947
  53       71422
  60       68075
  67       74425
  74       75663
  81       56183
  88       88537
  95       84576
  102      78801
  109      81797
  116      82130
  123      84088
  130      78489
  137      81291
  144      79005
  151      79344
  158      77069
  165      75704
  172      78194
  179      73083
  186      84386
  193      92580
  200      86737
  207      93200
           ...
  2447    115555
  2454    112817
  2461    113825
  2468    111817
  2475    117124
  2482    116360
  2489     89340
  2496    118401
  2503    116007
  2510    116142
  2517    117597
  2524    126649
  2531    126420
  2538    128490
  2545    117364
  2552    126213
  2559    112780
  2566    130187
  2573    118896
  2580    104468
  2587    118317
  2594    120424
  2601    110586
  2608    116657
  2615    126057
  2622    116849
  2629    124903
  2636    136445
  2643     94909
  2650     60909
  Name: y, Length: 379, dtype: int64},
 '(0,)_1': {'test':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  2587 2017-08-07  118317  33.400002  25.400000          0.0                0
  2594 2017-08-14  120424  26.600000  21.200001         23.5                0
  2601 2017-08-21  110586  28.500000  23.400000          1.7                0
  2608 2017-08-28  116657  26.700001  17.900000          5.3                0
  2615 2017-09-04  126057  29.600000  20.000000          0.0                0
  2622 2017-09-11  116849  23.799999  17.200001          0.0                0
  2629 2017-09-18  124903  27.100000  19.200001          0.0                0,
  'testX':              ds   temp_max   temp_min  rain_amount
  2587 2017-08-07  33.400002  25.400000          0.0
  2594 2017-08-14  26.600000  21.200001         23.5
  2601 2017-08-21  28.500000  23.400000          1.7
  2608 2017-08-28  26.700001  17.900000          5.3
  2615 2017-09-04  29.600000  20.000000          0.0
  2622 2017-09-11  23.799999  17.200001          0.0
  2629 2017-09-18  27.100000  19.200001          0.0,
  'testY': 2587    118317
  2594    120424
  2601    110586
  2608    116657
  2615    126057
  2622    116849
  2629    124903
  Name: y, dtype: int64,
  'train':              ds       y   temp_max   temp_min  rain_amount  seasonality_7,3
  4    2010-07-05   65049  30.600000  21.799999          0.0                0
  11   2010-07-12   67680  28.299999  22.200001          0.0                0
  18   2010-07-19   73816  29.299999  24.200001          0.0                0
  25   2010-07-26   75731  27.600000  23.400000          6.0                0
  32   2010-08-02   67290  31.600000  24.000000          1.0                0
  39   2010-08-09   67691  32.799999  26.400000          0.0                0
  46   2010-08-16   70947  26.500000  21.000000          0.0                0
  53   2010-08-23   71422  28.900000  23.500000         13.0                0
  60   2010-08-30   68075  29.799999  22.299999          0.0                0
  67   2010-09-06   74425  29.700001  23.000000          0.0                0
  74   2010-09-13   75663  27.400000  21.100000          0.0                0
  81   2010-09-20   56183  25.400000  19.400000          4.0                0
  88   2010-09-28   88537  18.299999  10.300000          0.0                0
  95   2010-10-05   84576  19.000000  11.400000          0.0                0
  102  2010-10-12   78801  18.600000  13.000000          0.0                0
  109  2010-10-19   81797  21.400000  12.800000          0.0                0
  116  2010-10-26   82130   7.800000   0.800000          0.0                0
  123  2010-11-02   84088   8.900000   1.100000          0.0                0
  130  2010-11-09   78489   5.800000  -0.400000          0.0                0
  137  2010-11-16   81291   8.600000   1.400000          0.0                0
  144  2010-11-23   79005  12.500000   3.100000          0.0                0
  151  2010-11-30   79344  12.000000   5.400000          0.0                0
  158  2010-12-07   77069   3.800000  -3.400000          0.0                0
  165  2010-12-14   75704  -0.800000 -12.500000          0.0                0
  172  2010-12-21   78194  10.600000   0.600000          0.0                0
  179  2010-12-28   73083  -0.200000  -9.100000          0.0                0
  186  2011-01-04   84386  -2.100000  -6.500000          0.0                0
  193  2011-01-11   92580  -2.700000 -10.900000          1.0                0
  200  2011-01-18   86737  -3.200000  -9.700000          0.0                0
  207  2011-01-25   93200  -4.600000 -10.700000          0.0                0
  ...         ...     ...        ...        ...          ...              ...
  2377 2017-01-09  109699   4.000000  -3.800000          0.0                0
  2384 2017-01-16  120018   0.900000  -7.600000          0.0                0
  2391 2017-01-23  122240  -5.200000 -12.900000          0.0                0
  2398 2017-01-30   13180  -3.400000 -10.400000          0.0                0
  2405 2017-02-06  117071   1.900000  -4.600000          0.0                0
  2412 2017-02-13  105310   5.900000  -3.900000          0.0                0
  2419 2017-02-20  107804   0.600000  -6.400000          0.0                0
  2426 2017-02-27  113165   9.000000  -0.100000          0.0                0
  2433 2017-03-06  123211   2.600000  -2.900000          0.0                0
  2440 2017-03-13  112496  11.600000   2.200000          0.0                0
  2447 2017-03-20  115555  13.700000   4.400000          0.0                0
  2454 2017-03-27  112817   8.300000   2.500000          0.8                0
  2461 2017-04-03  113825  17.500000   6.500000          0.0                0
  2468 2017-04-10  111817  20.600000  12.500000          0.0                0
  2475 2017-04-17  117124  18.500000   9.500000          4.5                0
  2482 2017-04-24  116360  19.600000  12.800000          0.0                0
  2489 2017-05-01   89340  26.600000  15.700000          0.0                0
  2496 2017-05-08  118401  22.700001  15.700000          0.2                0
  2503 2017-05-15  116007  19.200001  13.200000          0.1                0
  2510 2017-05-22  116142  27.100000  17.400000          0.0                0
  2517 2017-05-29  117597  27.900000  19.100000          0.0                0
  2524 2017-06-05  126649  29.100000  20.700001          0.0                0
  2531 2017-06-12  126420  27.500000  18.700001          0.0                0
  2538 2017-06-19  128490  29.200001  20.299999          0.0                0
  2545 2017-06-26  117364  26.400000  20.799999          4.5                0
  2552 2017-07-03  126213  26.700001  23.400000          2.0                0
  2559 2017-07-10  112780  25.299999  21.400000        123.7                0
  2566 2017-07-17  130187  29.400000  23.500000          6.1                0
  2573 2017-07-24  118896  28.100000  23.600000          2.3                0
  2580 2017-07-31  104468  26.700001  23.000000          5.3                0

  [369 rows x 6 columns],
  'trainX':              ds   temp_max   temp_min  rain_amount
  4    2010-07-05  30.600000  21.799999          0.0
  11   2010-07-12  28.299999  22.200001          0.0
  18   2010-07-19  29.299999  24.200001          0.0
  25   2010-07-26  27.600000  23.400000          6.0
  32   2010-08-02  31.600000  24.000000          1.0
  39   2010-08-09  32.799999  26.400000          0.0
  46   2010-08-16  26.500000  21.000000          0.0
  53   2010-08-23  28.900000  23.500000         13.0
  60   2010-08-30  29.799999  22.299999          0.0
  67   2010-09-06  29.700001  23.000000          0.0
  74   2010-09-13  27.400000  21.100000          0.0
  81   2010-09-20  25.400000  19.400000          4.0
  88   2010-09-28  18.299999  10.300000          0.0
  95   2010-10-05  19.000000  11.400000          0.0
  102  2010-10-12  18.600000  13.000000          0.0
  109  2010-10-19  21.400000  12.800000          0.0
  116  2010-10-26   7.800000   0.800000          0.0
  123  2010-11-02   8.900000   1.100000          0.0
  130  2010-11-09   5.800000  -0.400000          0.0
  137  2010-11-16   8.600000   1.400000          0.0
  144  2010-11-23  12.500000   3.100000          0.0
  151  2010-11-30  12.000000   5.400000          0.0
  158  2010-12-07   3.800000  -3.400000          0.0
  165  2010-12-14  -0.800000 -12.500000          0.0
  172  2010-12-21  10.600000   0.600000          0.0
  179  2010-12-28  -0.200000  -9.100000          0.0
  186  2011-01-04  -2.100000  -6.500000          0.0
  193  2011-01-11  -2.700000 -10.900000          1.0
  200  2011-01-18  -3.200000  -9.700000          0.0
  207  2011-01-25  -4.600000 -10.700000          0.0
  ...         ...        ...        ...          ...
  2377 2017-01-09   4.000000  -3.800000          0.0
  2384 2017-01-16   0.900000  -7.600000          0.0
  2391 2017-01-23  -5.200000 -12.900000          0.0
  2398 2017-01-30  -3.400000 -10.400000          0.0
  2405 2017-02-06   1.900000  -4.600000          0.0
  2412 2017-02-13   5.900000  -3.900000          0.0
  2419 2017-02-20   0.600000  -6.400000          0.0
  2426 2017-02-27   9.000000  -0.100000          0.0
  2433 2017-03-06   2.600000  -2.900000          0.0
  2440 2017-03-13  11.600000   2.200000          0.0
  2447 2017-03-20  13.700000   4.400000          0.0
  2454 2017-03-27   8.300000   2.500000          0.8
  2461 2017-04-03  17.500000   6.500000          0.0
  2468 2017-04-10  20.600000  12.500000          0.0
  2475 2017-04-17  18.500000   9.500000          4.5
  2482 2017-04-24  19.600000  12.800000          0.0
  2489 2017-05-01  26.600000  15.700000          0.0
  2496 2017-05-08  22.700001  15.700000          0.2
  2503 2017-05-15  19.200001  13.200000          0.1
  2510 2017-05-22  27.100000  17.400000          0.0
  2517 2017-05-29  27.900000  19.100000          0.0
  2524 2017-06-05  29.100000  20.700001          0.0
  2531 2017-06-12  27.500000  18.700001          0.0
  2538 2017-06-19  29.200001  20.299999          0.0
  2545 2017-06-26  26.400000  20.799999          4.5
  2552 2017-07-03  26.700001  23.400000          2.0
  2559 2017-07-10  25.299999  21.400000        123.7
  2566 2017-07-17  29.400000  23.500000          6.1
  2573 2017-07-24  28.100000  23.600000          2.3
  2580 2017-07-31  26.700001  23.000000          5.3

  [369 rows x 4 columns],
  'trainY': 4        65049
  11       67680
  18       73816
  25       75731

In [58]:
prpt_basis.add_model('seasonality_7', 'week', regressor= ['temp_max', 'temp_min', 'rain_amount'])

In [59]:
prpt_basis.fit('seasonality_7', txs_traintest= cv2._data)

In [60]:
prpt_basis.forecast('seasonality_7', forecast_dict= r.forecast_dict)

C:\Studying\Project_Nextop\nextop-engine\nextop_engine\_alg\prophet.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  result_forecast['ds'], box=True, format= '%Y/%m/%d', exact=True

In [61]:
r.merge_result(['_0', '_1', '_2', '_3', '_4'])

{'forecast':           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-10-13  137316  18.000000       7.4          0.0                4
0 2017-10-14   79129  19.700001       9.0          0.0                5
0 2017-10-15      80  20.299999      14.1          0.0                6
0 2017-10-16  119379  20.200001       9.5          0.0                0
0 2017-10-17  132170  21.400000      14.8          0.0                1
0 2017-10-18  133867  19.400000      12.3          0.5                2
0 2017-10-19  131135  21.299999      11.5          0.0                3
1 2017-10-20  139079  22.400000      11.3          0.0                4
1 2017-10-21   74015  22.600000      10.8          0.0                5
1 2017-10-22      19  21.500000       8.4          0.0                6
1 2017-10-23  121804  17.900000       9.8          0.0                0
1 2017-10-24  130253  18.600000       9.7          0.0                1
1 2017-10-25  126426  19.000000      10.7          0.0                2
1 2017-10-26  128680  17.299999      12.1          0.0                3
2 2017-10-27  126566  22.000000      10.8          0.0                4
2 2017-10-28   74269  22.100000      11.1          0.0                5
2 2017-10-29     320  15.500000       3.8          0.0                6
2 2017-10-30  117899  12.300000       3.3          0.0                0
2 2017-10-31  121179  14.700000       9.8          0.0                1
2 2017-11-01  127688  17.299999      13.4          0.0                2
2 2017-11-02  132155  18.000000      14.0          1.6                3
3 2017-11-03  133493  15.700000       4.5          0.6                4
3 2017-11-04   65514  12.800000       3.2          0.0                5
3 2017-11-05     105  14.200000       7.3          0.0                6
3 2017-11-06  113480  15.900000       9.8          0.0                0
3 2017-11-07  127948  17.200001      12.3          0.0                1
3 2017-11-08  121521  17.200001       3.6          0.0                2
3 2017-11-09  124710  15.600000       8.1          0.0                3
4 2017-11-10  127191  14.700000       3.6          7.4                4
4 2017-11-11   66905   9.500000       1.2          0.0                5
4 2017-11-12      74  10.200000       3.7          0.2                6
4 2017-11-13  121625  11.000000       6.1          5.6                0
4 2017-11-14  123482   9.500000       1.9          0.0                1
4 2017-11-15  125310   5.400000      -2.6          0.0                2
4 2017-11-16  117847   5.800000      -0.9          0.0                3
5 2017-11-17  120600   6.200000      -2.7          0.3                4
5 2017-11-18   62655   0.700000      -6.0          0.0                5
5 2017-11-19     131   3.100000      -3.1          0.0                6
5 2017-11-20  119059   3.700000      -4.0          0.2                0
5 2017-11-21  121680   6.800000       0.4          0.5                1
5 2017-11-22  122640   9.500000      -0.8          0.0                2
5 2017-11-23  110220   4.300000      -0.6          0.8                3
6 2017-11-24  120647   2.900000      -2.5          0.1                4
6 2017-11-25   67756   6.400000       0.8         15.7                5
6 2017-11-26     100   6.400000      -2.4          0.0                6
6 2017-11-27  117480   8.100000       1.8          0.0                0
6 2017-11-28  122192   9.800000       4.2          1.2                1
6 2017-11-29  120685   5.700000      -3.2          0.0                2
6 2017-11-30  108386   1.800000      -7.1          0.0                3

            yhat
0  131080.094494
0   59684.676553
0  -17195.609890
0  125254.766397
0  153308.798547
0  143483.408210
0  128677.661304
1  138008.071957
1   61869.602108
1  -15597.191076
1  129808.064343
1  153979.103988
1  140921.118520
1  119828.690174
2  132318.190260
2   59226.274861
2  -17053.331056
2  131720.189532
2  157133.294520
2  139402.233224
2  119694.969465
3  123354.232902
3   58064.756162
3  -24233.777142
3  135538.273805
3  154587.756626
3  141249.821692
3  124430.580803
4  125625.605698
4   55991.951434
4  -19620.807225
4  134327.686410
4  153649.425892
4  150292.025727
4  123673.138506
5  118893.236330
5   55616.012859
5  -15587.458002
5  130063.356015
5  156058.815514
5  143099.322553
5  117614.137040
6  124837.659830
6   54896.678118
6  -22216.222724
6  130714.094097
6  158894.081958
6  141151.935560
6  118614.144168  }
{'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-08-04  119471  34.000000  27.000000     0.000000                4
0 2017-08-05   66575  33.900002  28.299999     0.000000                5
0 2017-08-06     150  31.799999  26.000000     7.500000                6
0 2017-08-07  118317  33.400002  25.400000     0.000000                0
0 2017-08-08  118724  30.400000  25.299999     0.200000                1
0 2017-08-09  128436  30.100000  23.500000     8.800000                2
0 2017-08-10  120669  25.799999  22.400000     5.200000                3
1 2017-08-11  134236  30.600000  23.799999     0.900000                4
1 2017-08-12   67111  31.000000  24.900000     0.000000                5
1 2017-08-13      82  27.799999  23.299999     0.400000                6
1 2017-08-14  120424  26.600000  21.200001    23.500000                0
1 2017-08-15   67459  23.000000  20.100000    50.300001                1
1 2017-08-16  129172  26.600000  20.000000     1.700000                2
1 2017-08-17  136147  28.000000  23.299999     0.400000                3
2 2017-08-18  139905  29.400000  22.500000     0.000000                4
2 2017-08-19   75455  27.500000  21.299999    68.200001                5
2 2017-08-20      82  26.000000  22.600000    65.000001                6
2 2017-08-21  110586  28.500000  23.400000     1.700000                0
2 2017-08-22  128824  32.799999  24.500000    21.900000                1
2 2017-08-23  131951  30.700001  26.400000    11.700000                2
2 2017-08-24  118481  27.299999  21.700001     9.900000                3
3 2017-08-25  131524  31.100000  20.900000     0.000000                4
3 2017-08-26   64524  29.100000  19.700001     0.000000                5
3 2017-08-27      64  26.500000  20.200001     0.000000                6
3 2017-08-28  116657  26.700001  17.900000     5.300000                0
3 2017-08-29  132152  22.600000  16.299999     0.000000                1
3 2017-08-30  129925  21.500000  17.100000     0.000000                2
3 2017-08-31  122819  27.700001  17.900000     0.000000                3
4 2017-09-01  133918  28.299999  18.100000     0.000000                4
4 2017-09-02   71749  28.600000  19.200001     0.000000                5
4 2017-09-03      64  28.299999  19.799999     0.000000                6
4 2017-09-04  126057  29.600000  20.000000     0.000000                0
4 2017-09-05  138108  23.100000  19.799999     0.500000                1
4 2017-09-06  128123  23.600000  18.100000     2.800000                2
4 2017-09-07  132144  26.299999  20.200001     0.000000                3
5 2017-09-08  141243  28.700001  19.400000     0.000000                4
5 2017-09-09   76481  27.900000  20.000000     0.000000                5
5 2017-09-10     620  25.100000  17.900000    21.800000                6
5 2017-09-11  116849  23.799999  17.200001     0.000000                0
5 2017-09-12  139633  27.000000  16.500000     0.000000                1
5 2017-09-13  134987  27.200001  15.600000     0.000000                2
5 2017-09-14  130742  27.700001  18.400000     0.000000                3
6 2017-09-15  146743  27.299999  17.200001     0.000000                4
6 2017-09-16   78827  26.100000  19.200001     0.000000                5
6 2017-09-17     630  27.400000  17.500000     0.000000                6
6 2017-09-18  124903  27.100000  19.200001     0.000000                0
6 2017-09-19  142824  25.900000  14.900000     5.800000                1
6 2017-09-20  134630  23.500000  14.800000     0.000000                2
6 2017-09-21  135391  25.400000  15.700000     0.000000                3

            yhat
0  117195.791651
0   72224.006237
0  -12406.097021
0   97036.252863
0  127884.004338
0  143362.847606
0  128909.203018
1  126381.584681
1   74938.786380
1   -8412.553437
1   95926.649218
1  132613.305307
1  152175.663853
1  134954.212873
2  129176.950912
2   70860.286445
2   -7202.473569
2   97743.331781
2  136808.064215
2  150391.209546
2  138321.830181
3  132951.449395
3   81897.639233
3   -6388.992984
3  103829.842888
3  136134.562969
3  154400.935093
3  140450.119909
4  133653.207808
4   84599.382814
4  -12471.181571
4  107970.742490
4  141073.287592
4  153319.010093
4  133095.260165
5  139318.992469
5   82457.244179
5  -12416.125064
5  114371.695728
5  146217.914882
5  145895.370198
5  122454.676628
6  135874.283928
6   80257.628018
6  -14488.892305
6  117183.145075
6  151361.462064
6  146059.165047
6  118619.202459  }

{'forecast':           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-05-26  132142  21.299999  13.100000          0.0                4
0 2017-05-27   67948  24.600000  15.100000          0.0                5
0 2017-05-28     101  26.100000  18.299999          0.0                6
0 2017-05-29  117597  27.900000  19.100000          0.0                0
0 2017-05-30  130329  29.799999  17.700001          0.0                1
0 2017-05-31  125349  28.200001  20.299999          0.0                2
0 2017-06-01  124345  27.700001  17.100000          0.0                3
1 2017-06-02  134160  24.799999  17.600000          0.2                4
1 2017-06-03   71545  25.799999  15.800000          0.0                5
1 2017-06-04     133  28.200001  16.900000          0.0                6
1 2017-06-05  126649  29.100000  20.700001          0.0                0
1 2017-06-06   73184  22.799999  14.400000         27.2                1
1 2017-06-07  120810  19.400000  15.300000          2.6                2
1 2017-06-08  131312  25.200001  17.799999          0.1                3
2 2017-06-09  139312  25.100000  17.500000          3.9                4
2 2017-06-10   70737  26.200001  15.200000          0.0                5
2 2017-06-11      88  29.400000  17.500000          0.0                6
2 2017-06-12  126420  27.500000  18.700001          0.0                0
2 2017-06-13  131947  26.299999  18.000000          0.2                1
2 2017-06-14  122611  27.500000  17.700001          0.0                2
2 2017-06-15  121254  29.299999  18.900000          0.0                3
3 2017-06-16  137275  31.200001  21.000000          0.0                4
3 2017-06-17   70851  28.500000  18.900000          0.0                5
3 2017-06-18     153  30.600000  20.000000          0.0                6
3 2017-06-19  128490  29.200001  20.299999          0.0                0
3 2017-06-20  125803  31.000000  23.299999          0.1                1
3 2017-06-21  126190  31.299999  21.299999          0.0                2
3 2017-06-22  124983  29.200001  22.000000          0.0                3
4 2017-06-23  128644  32.000000  24.100000          0.0                4
4 2017-06-24   70577  28.299999  20.700001          3.2                5
4 2017-06-25     140  28.000000  20.100000         12.9                6
4 2017-06-26  117364  26.400000  20.799999          4.5                0
4 2017-06-27  124700  29.299999  22.500000          0.2                1
4 2017-06-28  129740  29.400000  21.600000          0.0                2
4 2017-06-29  120963  31.200001  22.299999          0.0                3
5 2017-06-30  127434  30.000000  22.299999          0.0                4
5 2017-07-01   77297  30.100000  23.200001         21.7                5
5 2017-07-02     188  26.100000  21.500000         81.8                6
5 2017-07-03  126213  26.700001  23.400000          2.0                0
5 2017-07-04  137350  30.600000  23.200001          0.0                1
5 2017-07-05  132001  31.299999  24.100000          0.0                2
5 2017-07-06  136537  32.900002  24.700001         28.9                3
6 2017-07-07  138278  28.799999  24.900000         22.2                4
6 2017-07-08   78658  27.400000  24.900000          8.6                5
6 2017-07-09     102  29.200001  23.600000         70.5                6
6 2017-07-10  112780  25.299999  21.400000        123.7                0
6 2017-07-11  134299  31.200001  24.799999          0.1                1
6 2017-07-12  123082  30.600000  22.900000          0.0                2
6 2017-07-13  123054  31.500000  26.200001          0.0                3

            yhat
0  120755.036393
0   84789.924318
0   10860.666074
0   44200.656359
0  135416.642112
0  145565.632031
0  130113.921460
1  123691.026146
1   84326.562682
1    7768.893743
1   40561.062278
1  135342.048511
1  161576.223406
1  133549.752782
2  123725.904314
2   84362.447262
2   12790.562665
2   45363.835613
2  141213.293364
2  159726.798784
2  135914.826331
3  121633.711291
3   89086.200591
3   14321.148449
3   44802.090684
3  142189.474883
3  156678.561890
3  133177.166430
4  125207.321700
4   88652.293920
4   11460.103102
4   43011.116992
4  140031.034801
4  155250.805224
4  129887.385635
5  118948.372762
5   84460.681331
5    3983.887437
5   37086.135740
5  140360.040828
5  152410.619616
5  131285.978975
6  127054.426631
6   88775.552055
6     758.199621
6   48922.487462
6  140172.630733
6  153192.718431
6  130304.128033  }
{'forecast':           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-03-17  135489  14.900000       4.8          0.0                4
0 2017-03-18   64286  14.700000       3.1          0.0                5
0 2017-03-19      76  17.100000       6.5          0.0                6
0 2017-03-20  115555  13.700000       4.4          0.0                0
0 2017-03-21  121287  12.200000       2.6          0.0                1
0 2017-03-22  118105  12.900000       5.8          0.0                2
0 2017-03-23  111978  12.700000       4.5          0.0                3
1 2017-03-24  132693  13.400000       6.3          0.0                4
1 2017-03-25   62476  11.400000       5.4          0.0                5
1 2017-03-26      75  11.500000       4.9          0.0                6
1 2017-03-27  112817   8.300000       2.5          0.8                0
1 2017-03-28  124669  11.600000       4.3          0.0                1
1 2017-03-29  128031  13.400000       3.4          0.0                2
1 2017-03-30  113165  16.100000       9.9          0.3                3
2 2017-03-31  117283  12.800000       5.1          2.6                4
2 2017-04-01   70018  12.400000       2.8          0.0                5
2 2017-04-02     111  15.800000       3.8          0.0                6
2 2017-04-03  113825  17.500000       6.5          0.0                0
2 2017-04-04  126076  21.500000      11.6          0.2                1
2 2017-04-05  122678  14.600000       9.2         41.1                2
2 2017-04-06  115935  12.500000       8.9          0.0                3
3 2017-04-07  131074  21.100000       9.1          0.0                4
3 2017-04-08   61648  18.799999      11.0          1.7                5
3 2017-04-09      57  18.900000      11.6          0.0                6
3 2017-04-10  111817  20.600000      12.5          0.0                0
3 2017-04-11  125145  20.200001      10.3          0.0                1
3 2017-04-12  128358  15.600000       6.8          0.0                2
3 2017-04-13  125469  18.000000      10.7          0.1                3
4 2017-04-14  129705  17.400000      10.4          6.4                4
4 2017-04-15   67517  23.299999      12.1          0.0                5
4 2017-04-16      90  22.200001      16.0          0.0                6
4 2017-04-17  117124  18.500000       9.5          4.5                0
4 2017-04-18  113768  15.400000       7.6          7.7                1
4 2017-04-19  129083  16.799999       9.7          0.2                2
4 2017-04-20  122217  18.700001       7.0          0.0                3
5 2017-04-21  135194  18.400000       8.6          0.0                4
5 2017-04-22   66266  21.299999       8.9          0.0                5
5 2017-04-23      58  21.000000       8.4          0.0                6
5 2017-04-24  116360  19.600000      12.8          0.0                0
5 2017-04-25  129505  19.600000      11.5          0.0                1
5 2017-04-26  134176  19.200001       9.5          0.0                2
5 2017-04-27  124916  19.500000       9.5          0.0                3
6 2017-04-28  139093  20.700001       9.3          0.0                4
6 2017-04-29   78884  22.200001      14.1          0.0                5
6 2017-04-30     138  26.700001      13.2          0.0                6
6 2017-05-01   89340  26.600000      15.7          0.0                0
6 2017-05-02  133677  25.700001      14.6          0.0                1
6 2017-05-03   76708  28.299999      15.3          0.0                2
6 2017-05-04  133802  26.400000      18.0          0.0                3

            yhat
0  115549.503486
0  100285.399530
0   20591.569812
0   36540.469196
0  129091.388829
0  156118.473661
0  120248.099810
1  116873.188823
1  102383.279379
1   23307.507226
1   25790.726344
1  129958.133658
1  156949.443694
1  118947.705564
2  109896.975180
2  100201.554632
2   23446.160951
2   22607.410196
2  130466.191622
2  153914.919528
2  119872.543680
3  113433.539307
3   98913.507556
3   20990.948396
3   27428.775980
3  129771.828578
3  157726.918800
3  120494.709457
4  122772.122246
4  103240.004429
4   18763.878734
4   27469.703510
4  130661.832455
4  159805.445836
4  126147.806617
5  112140.965263
5  100547.574632
5   22861.335756
5   32070.227028
5  132247.431032
5  161404.320454
5  120202.055850
6   97282.713995
6   96411.410846
6   19354.204227
6   37571.364989
6  130795.978791
6  160281.973177
6  121997.465418  }

{'forecast':           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-01-06  132151       9.5       1.2          0.0                4
0 2017-01-07   70104       9.1       2.0          0.0                5
0 2017-01-08      73      10.0       2.6          0.2                6
0 2017-01-09  109699       4.0      -3.8          0.0                0
0 2017-01-10  124362       0.9      -8.5          0.0                1
0 2017-01-11  125760       0.4      -8.1          0.1                2
0 2017-01-12  121618       0.0      -7.7          0.0                3
1 2017-01-13  134991      -2.9     -10.6          0.4                4
1 2017-01-14   79862      -5.9     -12.0          0.0                5
1 2017-01-15      89      -2.4     -11.1          0.0                6
1 2017-01-16  120018       0.9      -7.6          0.0                0
1 2017-01-17  122902       2.2      -5.1          0.0                1
1 2017-01-18  129416       3.0      -5.1          0.1                2
1 2017-01-19  129409       2.6      -4.7          2.6                3
2 2017-01-20  125530      -2.2     -10.1          0.1                4
2 2017-01-21   81672      -2.0     -10.1          1.3                5
2 2017-01-22      74      -6.5     -12.6          0.0                6
2 2017-01-23  122240      -5.2     -12.9          0.0                0
2 2017-01-24  133738      -2.6     -11.6          0.0                1
2 2017-01-25  152071       0.0      -9.3          0.0                2
2 2017-01-26  112757       2.2      -6.9          4.0                3
3 2017-01-27    5845      -0.9      -8.5          0.0                4
3 2017-01-28      12       3.0      -7.0          0.0                5
3 2017-01-29      58       3.3      -5.2          3.9                6
3 2017-01-30   13180      -3.4     -10.4          0.0                0
3 2017-01-31  103626      -2.2      -9.6          0.0                1
3 2017-02-01  121759       0.5     -10.0          0.0                2
3 2017-02-02  118014       2.4      -8.1          0.0                3
4 2017-02-03  126451       5.5      -2.6          0.0                4
4 2017-02-04   61897       7.0       0.0          0.0                5
4 2017-02-05      60       2.7      -3.1          1.4                6
4 2017-02-06  117071       1.9      -4.6          0.0                0
4 2017-02-07  120040       2.4      -5.0          0.0                1
4 2017-02-08  113670       2.0      -6.9          0.0                2
4 2017-02-09  110130      -2.8      -9.5          0.0                3
5 2017-02-10  115670      -3.6      -9.5          0.0                4
5 2017-02-11   58727      -0.7      -8.0          0.0                5
5 2017-02-12      53       3.8      -6.3          0.0                6
5 2017-02-13  105310       5.9      -3.9          0.0                0
5 2017-02-14  113217       6.1      -3.5          0.0                1
5 2017-02-15  115637       7.7      -2.1          0.0                2
5 2017-02-16  110867      10.3       1.6          5.0                3
6 2017-02-17  116907       4.8      -7.2          0.0                4
6 2017-02-18   62986       2.1      -6.2          0.0                5
6 2017-02-19      80       5.0      -0.4          3.2                6
6 2017-02-20  107804       0.6      -6.4          0.0                0
6 2017-02-21  110120       4.9      -4.6          0.0                1
6 2017-02-22  109244       3.4      -3.1          3.1                2
6 2017-02-23  111581       1.6      -5.7          0.0                3

            yhat
0  113001.447972
0   88394.593669
0   23010.191231
0   31305.852009
0  140679.434058
0  143564.422810
0  122792.139370
1  122767.500636
1  109137.154365
1   38435.985921
1   28247.417324
1  143365.896131
1  137567.794449
1  132711.716734
2  130613.067167
2  114892.715352
2   42221.357915
2   25376.555756
2  131708.651768
2  129299.928568
2  131290.833416
3  124254.019320
3  112865.940784
3   35637.777022
3   24085.482706
3  123400.308312
3  126703.800920
3  128083.449375
4  116042.443465
4  110904.937018
4   28283.710801
4   21688.381770
4  113800.473456
4  135634.636923
4  125405.246128
5  111022.475099
5  114555.771234
5   29134.148718
5   18720.772417
5  115582.892403
5  144120.195961
5  125939.715187
6  102801.083596
6  113267.745275
6   24959.504484
6    6081.267637
6  120724.514973
6  150433.603901
6  121691.336037  }

In [62]:
r.err_rate()
r.print_err_rate()

RMSE with segment _0_merged: 17094.1123
MAPE with segment _0_merged: 3956.0093
MAPE_with_std with segment _0_merged: 40.8916
MAPE_div_std with segment _0_merged: 87.2669
sMAPE with segment _0_merged: 14.4444


RMSE with segment _1_merged: 15527.6662
MAPE with segment _1_merged: 1270.5662
MAPE_with_std with segment _1_merged: 34.3139
MAPE_div_std with segment _1_merged: 75.7232
sMAPE with segment _1_merged: 11.4142


RMSE with segment _2_merged: 34504.4835
MAPE with segment _2_merged: 1057.4161
MAPE_with_std with segment _2_merged: 33.1267
MAPE_div_std with segment _2_merged: 68.7279
sMAPE with segment _2_merged: 23.8232


RMSE with segment _3_merged: 39146.5879
MAPE with segment _3_merged: 3897.8650
MAPE_with_std with segment _3_merged: 31.3488
MAPE_div_std with segment _3_merged: 74.8976
sMAPE with segment _3_merged: 30.4256


RMSE with segment _4_merged: 45726.6773
MAPE with segment _4_merged: 25908.6282
MAPE_with_std with segment _4_merged: 36.0161
MAPE_div_std with segment _4_merged: 72.7380
sMAPE with segment _4_merged: 35.4935

In [63]:
r.avg_result(str())

{'forecast': [          ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-10-13  137316  18.000000       7.4          0.0                4
0 2017-10-14   79129  19.700001       9.0          0.0                5
0 2017-10-15      80  20.299999      14.1          0.0                6
0 2017-10-16  119379  20.200001       9.5          0.0                0
0 2017-10-17  132170  21.400000      14.8          0.0                1
0 2017-10-18  133867  19.400000      12.3          0.5                2
0 2017-10-19  131135  21.299999      11.5          0.0                3
1 2017-10-20  139079  22.400000      11.3          0.0                4
1 2017-10-21   74015  22.600000      10.8          0.0                5
1 2017-10-22      19  21.500000       8.4          0.0                6
1 2017-10-23  121804  17.900000       9.8          0.0                0
1 2017-10-24  130253  18.600000       9.7          0.0                1
1 2017-10-25  126426  19.000000      10.7          0.0                2
1 2017-10-26  128680  17.299999      12.1          0.0                3
2 2017-10-27  126566  22.000000      10.8          0.0                4
2 2017-10-28   74269  22.100000      11.1          0.0                5
2 2017-10-29     320  15.500000       3.8          0.0                6
2 2017-10-30  117899  12.300000       3.3          0.0                0
2 2017-10-31  121179  14.700000       9.8          0.0                1
2 2017-11-01  127688  17.299999      13.4          0.0                2
2 2017-11-02  132155  18.000000      14.0          1.6                3
3 2017-11-03  133493  15.700000       4.5          0.6                4
3 2017-11-04   65514  12.800000       3.2          0.0                5
3 2017-11-05     105  14.200000       7.3          0.0                6
3 2017-11-06  113480  15.900000       9.8          0.0                0
3 2017-11-07  127948  17.200001      12.3          0.0                1
3 2017-11-08  121521  17.200001       3.6          0.0                2
3 2017-11-09  124710  15.600000       8.1          0.0                3
4 2017-11-10  127191  14.700000       3.6          7.4                4
4 2017-11-11   66905   9.500000       1.2          0.0                5
4 2017-11-12      74  10.200000       3.7          0.2                6
4 2017-11-13  121625  11.000000       6.1          5.6                0
4 2017-11-14  123482   9.500000       1.9          0.0                1
4 2017-11-15  125310   5.400000      -2.6          0.0                2
4 2017-11-16  117847   5.800000      -0.9          0.0                3
5 2017-11-17  120600   6.200000      -2.7          0.3                4
5 2017-11-18   62655   0.700000      -6.0          0.0                5
5 2017-11-19     131   3.100000      -3.1          0.0                6
5 2017-11-20  119059   3.700000      -4.0          0.2                0
5 2017-11-21  121680   6.800000       0.4          0.5                1
5 2017-11-22  122640   9.500000      -0.8          0.0                2
5 2017-11-23  110220   4.300000      -0.6          0.8                3
6 2017-11-24  120647   2.900000      -2.5          0.1                4
6 2017-11-25   67756   6.400000       0.8         15.7                5
6 2017-11-26     100   6.400000      -2.4          0.0                6
6 2017-11-27  117480   8.100000       1.8          0.0                0
6 2017-11-28  122192   9.800000       4.2          1.2                1
6 2017-11-29  120685   5.700000      -3.2          0.0                2
6 2017-11-30  108386   1.800000      -7.1          0.0                3

            yhat
0  131080.094494
0   59684.676553
0  -17195.609890
0  125254.766397
0  153308.798547
0  143483.408210
0  128677.661304
1  138008.071957
1   61869.602108
1  -15597.191076
1  129808.064343
1  153979.103988
1  140921.118520
1  119828.690174
2  132318.190260
2   59226.274861
2  -17053.331056
2  131720.189532
2  157133.294520
2  139402.233224
2  119694.969465
3  123354.232902
3   58064.756162
3  -24233.777142
3  135538.273805
3  154587.756626
3  141249.821692
3  124430.580803
4  125625.605698
4   55991.951434
4  -19620.807225
4  134327.686410
4  153649.425892
4  150292.025727
4  123673.138506
5  118893.236330
5   55616.012859
5  -15587.458002
5  130063.356015
5  156058.815514
5  143099.322553
5  117614.137040
6  124837.659830
6   54896.678118
6  -22216.222724
6  130714.094097
6  158894.081958
6  141151.935560
6  118614.144168  ,           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-08-04  119471  34.000000  27.000000     0.000000                4
0 2017-08-05   66575  33.900002  28.299999     0.000000                5
0 2017-08-06     150  31.799999  26.000000     7.500000                6
0 2017-08-07  118317  33.400002  25.400000     0.000000                0
0 2017-08-08  118724  30.400000  25.299999     0.200000                1
0 2017-08-09  128436  30.100000  23.500000     8.800000                2
0 2017-08-10  120669  25.799999  22.400000     5.200000                3
1 2017-08-11  134236  30.600000  23.799999     0.900000                4
1 2017-08-12   67111  31.000000  24.900000     0.000000                5
1 2017-08-13      82  27.799999  23.299999     0.400000                6
1 2017-08-14  120424  26.600000  21.200001    23.500000                0
1 2017-08-15   67459  23.000000  20.100000    50.300001                1
1 2017-08-16  129172  26.600000  20.000000     1.700000                2
1 2017-08-17  136147  28.000000  23.299999     0.400000                3
2 2017-08-18  139905  29.400000  22.500000     0.000000                4
2 2017-08-19   75455  27.500000  21.299999    68.200001                5
2 2017-08-20      82  26.000000  22.600000    65.000001                6
2 2017-08-21  110586  28.500000  23.400000     1.700000                0
2 2017-08-22  128824  32.799999  24.500000    21.900000                1
2 2017-08-23  131951  30.700001  26.400000    11.700000                2
2 2017-08-24  118481  27.299999  21.700001     9.900000                3
3 2017-08-25  131524  31.100000  20.900000     0.000000                4
3 2017-08-26   64524  29.100000  19.700001     0.000000                5
3 2017-08-27      64  26.500000  20.200001     0.000000                6
3 2017-08-28  116657  26.700001  17.900000     5.300000                0
3 2017-08-29  132152  22.600000  16.299999     0.000000                1
3 2017-08-30  129925  21.500000  17.100000     0.000000                2
3 2017-08-31  122819  27.700001  17.900000     0.000000                3
4 2017-09-01  133918  28.299999  18.100000     0.000000                4
4 2017-09-02   71749  28.600000  19.200001     0.000000                5
4 2017-09-03      64  28.299999  19.799999     0.000000                6
4 2017-09-04  126057  29.600000  20.000000     0.000000                0
4 2017-09-05  138108  23.100000  19.799999     0.500000                1
4 2017-09-06  128123  23.600000  18.100000     2.800000                2
4 2017-09-07  132144  26.299999  20.200001     0.000000                3
5 2017-09-08  141243  28.700001  19.400000     0.000000                4
5 2017-09-09   76481  27.900000  20.000000     0.000000                5
5 2017-09-10     620  25.100000  17.900000    21.800000                6
5 2017-09-11  116849  23.799999  17.200001     0.000000                0
5 2017-09-12  139633  27.000000  16.500000     0.000000                1
5 2017-09-13  134987  27.200001  15.600000     0.000000                2
5 2017-09-14  130742  27.700001  18.400000     0.000000                3
6 2017-09-15  146743  27.299999  17.200001     0.000000                4
6 2017-09-16   78827  26.100000  19.200001     0.000000                5
6 2017-09-17     630  27.400000  17.500000     0.000000                6
6 2017-09-18  124903  27.100000  19.200001     0.000000                0
6 2017-09-19  142824  25.900000  14.900000     5.800000                1
6 2017-09-20  134630  23.500000  14.800000     0.000000                2
6 2017-09-21  135391  25.400000  15.700000     0.000000                3

            yhat
0  117195.791651
0   72224.006237
0  -12406.097021
0   97036.252863
0  127884.004338
0  143362.847606
0  128909.203018
1  126381.584681
1   74938.786380
1   -8412.553437
1   95926.649218
1  132613.305307
1  152175.663853
1  134954.212873
2  129176.950912
2   70860.286445
2   -7202.473569
2   97743.331781
2  136808.064215
2  150391.209546
2  138321.830181
3  132951.449395
3   81897.639233
3   -6388.992984
3  103829.842888
3  136134.562969
3  154400.935093
3  140450.119909
4  133653.207808
4   84599.382814
4  -12471.181571
4  107970.742490
4  141073.287592
4  153319.010093
4  133095.260165
5  139318.992469
5   82457.244179
5  -12416.125064
5  114371.695728
5  146217.914882
5  145895.370198
5  122454.676628
6  135874.283928
6   80257.628018
6  -14488.892305
6  117183.145075
6  151361.462064
6  146059.165047
6  118619.202459  ,           ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
0 2017-05-26  132142  21.299999  13.100000          0.0                4
0 2017-05-27   67948  24.600000  15.100000          0.0                5
0 2017-05-28     101  26.100000  18.299999          0.0                6
0 2017-05-29  117597  27.900000  19.100000          0.0                0
0 2017-05-30  130329  29.799999  17.700001          0.0                1
0 2017-05-31  125349  28.200001  20.299999          0.0                2
0 2017-06-01  124345  27.700001  17.100000          0.0                3
1 2017-06-02  134160  24.799999  17.600000          0.2                4
1 2017-06-03   71545  25.799999  15.800000          0.0                5
1 2017-06-04     133  28.200001  16.900000          0.0                6
1 2017-06-05  126649  29.100000  20.700001          0.0                0
1 2017-06-06   73184  22.799999  14.400000         27.2                1
1 2017-06-07  120810  19.400000  15.300000          2.6                2
1 2017-06-08  131312  25.200001  17.799999          0.1                3
2 2017-06-09  139312  25.100000  17.500000          3.9                4
2 2017-06-10   70737  26.200001  15.200000          0.0                5
2 2017-06-11      88  29.400000  17.500000          0.0                6
2 2017-06-12  126420  27.500000  18.700001          0.0                0
2 2017-06-13  131947  26.299999  18.000000          0.2                1
2 2017-06-14  122611  27.500000  17.700001          0.0                2
2 2017-06-15  121254  29.299999  18.900000          0.0                3
3 2017-06-16  137275  31.200001  21.000000          0.0                4
3 2017-06-17   70851  28.500000  18.900000          0.0                5
3 2017-06-18     153  30.600000  20.000000          0.0                6
3 2017-06-19  128490  29.200001  20.299999          0.0                0
3 2017-06-20  125803  31.000000  23.299999          0.1                1
3 2017-06-21  126190  31.299999  21.299999          0.0                2
3 2017-06-22  124983  29.200001  22.000000          0.0                3
4 2017-06-23  128644  32.000000  24.100000          0.0                4
4 2017-06-24   70577  28.299999  20.700001          3.2                5
4 2017-06-25     140  28.000000  20.100000         12.9                6
4 2017-06-26  117364  26.400000  20.799999          4.5                0
4 2017-06-27  124700  29.299999  22.500000          0.2                1
4 2017-06-28  129740  29.400000  21.600000          0.0                2
4 2017-06-29  120963  31.200001  22.299999          0.0                3
5 2017-06-30  127434  30.000000  22.299999          0.0                4
5 2017-07-01   77297  30.100000  23.200001         21.7                5
5 2017-07-02     188  26.100000  21.500000         81.8                6
5 2017-07-03  126213  26.700001  23.400000          2.0                0
5 2017-07-04  137350  30.600000  23.200001          0.0                1
5 2017-07-05  132001  31.299999  24.100000          0.0                2
5 2017-07-06  136537  32.900002  24.700001         28.9                3
6 2017-07-07  138278  28.799999  24.900000         22.2                4
6 2017-07-08   78658  27.400000  24.900000          8.6                5
6 2017-07-09     102  29.200001  23.600000         70.5                6
6 2017-07-10  112780  25.299999  21.400000        123.7                0
6 2017-07-11  134299  31.200001  24.799999          0.1                1
6 2017-07-12  123082  30.600000  22.900000          0.0                2
6 2017-07-13  123054  31.500000  26.200001          0.0                3

            yhat
0  120755.036393
0   84789.924318
0   10860.666074
0   44200.656359
0  135416.642112
0  145565.632031
0  130113.921460
1  123691.026146
1   84326.562682
1    7768.893743
1   40561.062278
1  135342.048511
1  161576.223406
1  133549.752782
2  123725.904314
2   84362.447262
2   12790.562665
2   45363.835613
2  141213.293364
2  159726.798784
2  135914.826331
3  121633.711291
3   89086.200591
3   14321.148449
3   44802.090684
3  142189.474883
3  156678.561890
3  133177.166430
4  125207.321700
4   88652.293920
4   11460.103102
4   43011.116992
4  140031.034801
4  155250.805224
4  129887.385635
5  118948.372762
5   84460.681331
5    3983.887437
5   37086.135740
5  140360.040828
5  152410.619616
5  131285.978975
6  127054.426631
6   88775.552055
6     758.199621
6   48922.487462
6  140172.630733
6  153192.718431
6  130304.128033  ,           ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-03-17  135489  14.900000       4.8          0.0                4
0 2017-03-18   64286  14.700000       3.1          0.0                5
0 2017-03-19      76  17.100000       6.5          0.0                6
0 2017-03-20  115555  13.700000       4.4          0.0                0
0 2017-03-21  121287  12.200000       2.6          0.0                1
0 2017-03-22  118105  12.900000       5.8          0.0                2
0 2017-03-23  111978  12.700000       4.5          0.0                3
1 2017-03-24  132693  13.400000       6.3          0.0                4
1 2017-03-25   62476  11.400000       5.4          0.0                5
1 2017-03-26      75  11.500000       4.9          0.0                6
1 2017-03-27  112817   8.300000       2.5          0.8                0
1 2017-03-28  124669  11.600000       4.3          0.0                1
1 2017-03-29  128031  13.400000       3.4          0.0                2
1 2017-03-30  113165  16.100000       9.9          0.3                3
2 2017-03-31  117283  12.800000       5.1          2.6                4
2 2017-04-01   70018  12.400000       2.8          0.0                5
2 2017-04-02     111  15.800000       3.8          0.0                6
2 2017-04-03  113825  17.500000       6.5          0.0                0
2 2017-04-04  126076  21.500000      11.6          0.2                1
2 2017-04-05  122678  14.600000       9.2         41.1                2
2 2017-04-06  115935  12.500000       8.9          0.0                3
3 2017-04-07  131074  21.100000       9.1          0.0                4
3 2017-04-08   61648  18.799999      11.0          1.7                5
3 2017-04-09      57  18.900000      11.6          0.0                6
3 2017-04-10  111817  20.600000      12.5          0.0                0
3 2017-04-11  125145  20.200001      10.3          0.0                1
3 2017-04-12  128358  15.600000       6.8          0.0                2
3 2017-04-13  125469  18.000000      10.7          0.1                3
4 2017-04-14  129705  17.400000      10.4          6.4                4
4 2017-04-15   67517  23.299999      12.1          0.0                5
4 2017-04-16      90  22.200001      16.0          0.0                6
4 2017-04-17  117124  18.500000       9.5          4.5                0
4 2017-04-18  113768  15.400000       7.6          7.7                1
4 2017-04-19  129083  16.799999       9.7          0.2                2
4 2017-04-20  122217  18.700001       7.0          0.0                3
5 2017-04-21  135194  18.400000       8.6          0.0                4
5 2017-04-22   66266  21.299999       8.9          0.0                5
5 2017-04-23      58  21.000000       8.4          0.0                6
5 2017-04-24  116360  19.600000      12.8          0.0                0
5 2017-04-25  129505  19.600000      11.5          0.0                1
5 2017-04-26  134176  19.200001       9.5          0.0                2
5 2017-04-27  124916  19.500000       9.5          0.0                3
6 2017-04-28  139093  20.700001       9.3          0.0                4
6 2017-04-29   78884  22.200001      14.1          0.0                5
6 2017-04-30     138  26.700001      13.2          0.0                6
6 2017-05-01   89340  26.600000      15.7          0.0                0
6 2017-05-02  133677  25.700001      14.6          0.0                1
6 2017-05-03   76708  28.299999      15.3          0.0                2
6 2017-05-04  133802  26.400000      18.0          0.0                3

            yhat
0  115549.503486
0  100285.399530
0   20591.569812
0   36540.469196
0  129091.388829
0  156118.473661
0  120248.099810
1  116873.188823
1  102383.279379
1   23307.507226
1   25790.726344
1  129958.133658
1  156949.443694
1  118947.705564
2  109896.975180
2  100201.554632
2   23446.160951
2   22607.410196
2  130466.191622
2  153914.919528
2  119872.543680
3  113433.539307
3   98913.507556
3   20990.948396
3   27428.775980
3  129771.828578
3  157726.918800
3  120494.709457
4  122772.122246
4  103240.004429
4   18763.878734
4   27469.703510
4  130661.832455
4  159805.445836
4  126147.806617
5  112140.965263
5  100547.574632
5   22861.335756
5   32070.227028
5  132247.431032
5  161404.320454
5  120202.055850
6   97282.713995
6   96411.410846
6   19354.204227
6   37571.364989
6  130795.978791
6  160281.973177
6  121997.465418  ,           ds       y  temp_max  temp_min  rain_amount  seasonality_7,3  \
0 2017-01-06  132151       9.5       1.2          0.0                4
0 2017-01-07   70104       9.1       2.0          0.0                5
0 2017-01-08      73      10.0       2.6          0.2                6
0 2017-01-09  109699       4.0      -3.8          0.0                0
0 2017-01-10  124362       0.9      -8.5          0.0                1
0 2017-01-11  125760       0.4      -8.1          0.1                2
0 2017-01-12  121618       0.0      -7.7          0.0                3
1 2017-01-13  134991      -2.9     -10.6          0.4                4
1 2017-01-14   79862      -5.9     -12.0          0.0                5
1 2017-01-15      89      -2.4     -11.1          0.0                6
1 2017-01-16  120018       0.9      -7.6          0.0                0
1 2017-01-17  122902       2.2      -5.1          0.0                1
1 2017-01-18  129416       3.0      -5.1          0.1                2
1 2017-01-19  129409       2.6      -4.7          2.6                3
2 2017-01-20  125530      -2.2     -10.1          0.1                4
2 2017-01-21   81672      -2.0     -10.1          1.3                5
2 2017-01-22      74      -6.5     -12.6          0.0                6
2 2017-01-23  122240      -5.2     -12.9          0.0                0
2 2017-01-24  133738      -2.6     -11.6          0.0                1
2 2017-01-25  152071       0.0      -9.3          0.0                2
2 2017-01-26  112757       2.2      -6.9          4.0                3
3 2017-01-27    5845      -0.9      -8.5          0.0                4
3 2017-01-28      12       3.0      -7.0          0.0                5
3 2017-01-29      58       3.3      -5.2          3.9                6
3 2017-01-30   13180      -3.4     -10.4          0.0                0
3 2017-01-31  103626      -2.2      -9.6          0.0                1
3 2017-02-01  121759       0.5     -10.0          0.0                2

In [64]:
r.print_err_rate()

RMSE with segment _result: 30399.9054
MAPE with segment _result: 7218.0969
MAPE_with_std with segment _result: 35.1394
MAPE_div_std with segment _result: 75.8707
sMAPE with segment _result: 23.1202

In [65]:
r.forecast_dict

OrderedDict([('_result',
              {'MAPE': 7218.0969474703625,
               'MAPE_div_std': 75.870703296154431,
               'MAPE_with_std': 35.139426491616348,
               'RMSE': 30399.905435440633,
               'forecast': [          ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
                0 2017-10-13  137316  18.000000       7.4          0.0                4
                0 2017-10-14   79129  19.700001       9.0          0.0                5
                0 2017-10-15      80  20.299999      14.1          0.0                6
                0 2017-10-16  119379  20.200001       9.5          0.0                0
                0 2017-10-17  132170  21.400000      14.8          0.0                1
                0 2017-10-18  133867  19.400000      12.3          0.5                2
                0 2017-10-19  131135  21.299999      11.5          0.0                3
                1 2017-10-20  139079  22.400000      11.3          0.0                4
                1 2017-10-21   74015  22.600000      10.8          0.0                5
                1 2017-10-22      19  21.500000       8.4          0.0                6
                1 2017-10-23  121804  17.900000       9.8          0.0                0
                1 2017-10-24  130253  18.600000       9.7          0.0                1
                1 2017-10-25  126426  19.000000      10.7          0.0                2
                1 2017-10-26  128680  17.299999      12.1          0.0                3
                2 2017-10-27  126566  22.000000      10.8          0.0                4
                2 2017-10-28   74269  22.100000      11.1          0.0                5
                2 2017-10-29     320  15.500000       3.8          0.0                6
                2 2017-10-30  117899  12.300000       3.3          0.0                0
                2 2017-10-31  121179  14.700000       9.8          0.0                1
                2 2017-11-01  127688  17.299999      13.4          0.0                2
                2 2017-11-02  132155  18.000000      14.0          1.6                3
                3 2017-11-03  133493  15.700000       4.5          0.6                4
                3 2017-11-04   65514  12.800000       3.2          0.0                5
                3 2017-11-05     105  14.200000       7.3          0.0                6
                3 2017-11-06  113480  15.900000       9.8          0.0                0
                3 2017-11-07  127948  17.200001      12.3          0.0                1
                3 2017-11-08  121521  17.200001       3.6          0.0                2
                3 2017-11-09  124710  15.600000       8.1          0.0                3
                4 2017-11-10  127191  14.700000       3.6          7.4                4
                4 2017-11-11   66905   9.500000       1.2          0.0                5
                4 2017-11-12      74  10.200000       3.7          0.2                6
                4 2017-11-13  121625  11.000000       6.1          5.6                0
                4 2017-11-14  123482   9.500000       1.9          0.0                1
                4 2017-11-15  125310   5.400000      -2.6          0.0                2
                4 2017-11-16  117847   5.800000      -0.9          0.0                3
                5 2017-11-17  120600   6.200000      -2.7          0.3                4
                5 2017-11-18   62655   0.700000      -6.0          0.0                5
                5 2017-11-19     131   3.100000      -3.1          0.0                6
                5 2017-11-20  119059   3.700000      -4.0          0.2                0
                5 2017-11-21  121680   6.800000       0.4          0.5                1
                5 2017-11-22  122640   9.500000      -0.8          0.0                2
                5 2017-11-23  110220   4.300000      -0.6          0.8                3
                6 2017-11-24  120647   2.900000      -2.5          0.1                4
                6 2017-11-25   67756   6.400000       0.8         15.7                5
                6 2017-11-26     100   6.400000      -2.4          0.0                6
                6 2017-11-27  117480   8.100000       1.8          0.0                0
                6 2017-11-28  122192   9.800000       4.2          1.2                1
                6 2017-11-29  120685   5.700000      -3.2          0.0                2
                6 2017-11-30  108386   1.800000      -7.1          0.0                3

                            yhat
                0  131080.094494
                0   59684.676553
                0  -17195.609890
                0  125254.766397
                0  153308.798547
                0  143483.408210
                0  128677.661304
                1  138008.071957
                1   61869.602108
                1  -15597.191076
                1  129808.064343
                1  153979.103988
                1  140921.118520
                1  119828.690174
                2  132318.190260
                2   59226.274861
                2  -17053.331056
                2  131720.189532
                2  157133.294520
                2  139402.233224
                2  119694.969465
                3  123354.232902
                3   58064.756162
                3  -24233.777142
                3  135538.273805
                3  154587.756626
                3  141249.821692
                3  124430.580803
                4  125625.605698
                4   55991.951434
                4  -19620.807225
                4  134327.686410
                4  153649.425892
                4  150292.025727
                4  123673.138506
                5  118893.236330
                5   55616.012859
                5  -15587.458002
                5  130063.356015
                5  156058.815514
                5  143099.322553
                5  117614.137040
                6  124837.659830
                6   54896.678118
                6  -22216.222724
                6  130714.094097
                6  158894.081958
                6  141151.935560
                6  118614.144168  ,
                          ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
                0 2017-08-04  119471  34.000000  27.000000     0.000000                4
                0 2017-08-05   66575  33.900002  28.299999     0.000000                5
                0 2017-08-06     150  31.799999  26.000000     7.500000                6
                0 2017-08-07  118317  33.400002  25.400000     0.000000                0
                0 2017-08-08  118724  30.400000  25.299999     0.200000                1
                0 2017-08-09  128436  30.100000  23.500000     8.800000                2
                0 2017-08-10  120669  25.799999  22.400000     5.200000                3
                1 2017-08-11  134236  30.600000  23.799999     0.900000                4
                1 2017-08-12   67111  31.000000  24.900000     0.000000                5
                1 2017-08-13      82  27.799999  23.299999     0.400000                6
                1 2017-08-14  120424  26.600000  21.200001    23.500000                0
                1 2017-08-15   67459  23.000000  20.100000    50.300001                1
                1 2017-08-16  129172  26.600000  20.000000     1.700000                2
                1 2017-08-17  136147  28.000000  23.299999     0.400000                3
                2 2017-08-18  139905  29.400000  22.500000     0.000000                4
                2 2017-08-19   75455  27.500000  21.299999    68.200001                5
                2 2017-08-20      82  26.000000  22.600000    65.000001                6
                2 2017-08-21  110586  28.500000  23.400000     1.700000                0
                2 2017-08-22  128824  32.799999  24.500000    21.900000                1
                2 2017-08-23  131951  30.700001  26.400000    11.700000                2
                2 2017-08-24  118481  27.299999  21.700001     9.900000                3
                3 2017-08-25  131524  31.100000  20.900000     0.000000                4
                3 2017-08-26   64524  29.100000  19.700001     0.000000                5
                3 2017-08-27      64  26.500000  20.200001     0.000000                6
                3 2017-08-28  116657  26.700001  17.900000     5.300000                0
                3 2017-08-29  132152  22.600000  16.299999     0.000000                1
                3 2017-08-30  129925  21.500000  17.100000     0.000000                2
                3 2017-08-31  122819  27.700001  17.900000     0.000000                3
                4 2017-09-01  133918  28.299999  18.100000     0.000000                4
                4 2017-09-02   71749  28.600000  19.200001     0.000000                5
                4 2017-09-03      64  28.299999  19.799999     0.000000                6
                4 2017-09-04  126057  29.600000  20.000000     0.000000                0
                4 2017-09-05  138108  23.100000  19.799999     0.500000                1
                4 2017-09-06  128123  23.600000  18.100000     2.800000                2
                4 2017-09-07  132144  26.299999  20.200001     0.000000                3
                5 2017-09-08  141243  28.700001  19.400000     0.000000                4
                5 2017-09-09   76481  27.900000  20.000000     0.000000                5
                5 2017-09-10     620  25.100000  17.900000    21.800000                6
                5 2017-09-11  116849  23.799999  17.200001     0.000000                0
                5 2017-09-12  139633  27.000000  16.500000     0.000000                1
                5 2017-09-13  134987  27.200001  15.600000     0.000000                2
                5 2017-09-14  130742  27.700001  18.400000     0.000000                3
                6 2017-09-15  146743  27.299999  17.200001     0.000000                4
                6 2017-09-16   78827  26.100000  19.200001     0.000000                5
                6 2017-09-17     630  27.400000  17.500000     0.000000                6
                6 2017-09-18  124903  27.100000  19.200001     0.000000                0
                6 2017-09-19  142824  25.900000  14.900000     5.800000                1
                6 2017-09-20  134630  23.500000  14.800000     0.000000                2
                6 2017-09-21  135391  25.400000  15.700000     0.000000                3

                            yhat
                0  117195.791651
                0   72224.006237
                0  -12406.097021
                0   97036.252863
                0  127884.004338
                0  143362.847606
                0  128909.203018
                1  126381.584681
                1   74938.786380
                1   -8412.553437
                1   95926.649218
                1  132613.305307
                1  152175.663853
                1  134954.212873
                2  129176.950912
                2   70860.286445
                2   -7202.473569
                2   97743.331781
                2  136808.064215
                2  150391.209546
                2  138321.830181
                3  132951.449395
                3   81897.639233
                3   -6388.992984
                3  103829.842888
                3  136134.562969
                3  154400.935093
                3  140450.119909
                4  133653.207808
                4   84599.382814
                4  -12471.181571
                4  107970.742490
                4  141073.287592
                4  153319.010093
                4  133095.260165
                5  139318.992469
                5   82457.244179
                5  -12416.125064
                5  114371.695728
                5  146217.914882
                5  145895.370198
                5  122454.676628
                6  135874.283928
                6   80257.628018
                6  -14488.892305
                6  117183.145075
                6  151361.462064
                6  146059.165047
                6  118619.202459  ,
                          ds       y   temp_max   temp_min  rain_amount  seasonality_7,3  \
                0 2017-05-26  132142  21.299999  13.100000          0.0                4
                0 2017-05-27   67948  24.600000  15.100000          0.0                5
                0 2017-05-28     101  26.100000  18.299999          0.0                6
                0 2017-05-29  117597  27.900000  19.100000          0.0                0
                0 2017-05-30  130329  29.799999  17.700001          0.0                1
                0 2017-05-31  125349  28.200001  20.299999          0.0                2
                0 2017-06-01  124345  27.700001  17.100000          0.0                3
                1 2017-06-02  134160  24.799999  17.600000          0.2                4
                1 2017-06-03   71545  25.799999  15.800000          0.0                5
                1 2017-06-04     133  28.200001  16.900000          0.0                6
                1 2017-06-05  126649  29.100000  20.700001          0.0                0
                1 2017-06-06   73184  22.799999  14.400000         27.2                1
                1 2017-06-07  120810  19.400000  15.300000          2.6                2
                1 2017-06-08  131312  25.200001  17.799999          0.1                3
                2 2017-06-09  139312  25.100000  17.500000          3.9                4
                2 2017-06-10   70737  26.200001  15.200000          0.0                5
                2 2017-06-11      88  29.400000  17.500000          0.0                6
                2 2017-06-12  126420  27.500000  18.700001          0.0                0
                2 2017-06-13  131947  26.299999  18.000000          0.2                1
                2 2017-06-14  122611  27.500000  17.700001          0.0                2
                2 2017-06-15  121254  29.299999  18.900000          0.0                3
                3 2017-06-16  137275  31.200001  21.000000          0.0                4
                3 2017-06-17   70851  28.500000  18.900000          0.0                5
                3 2017-06-18     153  30.600000  20.000000          0.0                6
                3 2017-06-19  128490  29.200001  20.299999          0.0                0
                3 2017-06-20  125803  31.000000  23.299999          0.1                1
                3 2017-06-21  126190  31.299999  21.299999          0.0                2
                3 2017-06-22  124983  29.200001  22.000000          0.0                3
                4 2017-06-23  128644  32.000000  24.100000          0.0                4
                4 2017-06-24   70577  28.299999  20.700001          3.2                5
                4 2017-06-25     140  28.000000  20.100000         12.9                6
                4 2017-06-26  117364  26.400000  20.799999          4.5                0
                4 2017-06-27  124700  29.299999  22.500000          0.2                1
                4 2017-06-28  129740  29.400000  21.600000          0.0                2
                4 2017-06-29  120963  31.200001  22.299999          0.0                3
                5 2017-06-30  127434  30.000000  22.299999          0.0                4
                5 2017-07-01   77297  30.100000  23.200001         21.7                5
                5 2017-07-02     188  26.100000  21.500000         81.8                6
                5 2017-07-03  126213  26.700001  23.400000          2.0                0
                5 2017-07-04  137350  30.600000  23.200001          0.0                1
                5 2017-07-05  132001  31.299999  24.100000          0.0                2
                5 2017-07-06  136537  32.900002  24.700001         28.9                3
                6 2017-07-07  138278  28.799999  24.900000         22.2                4
                6 2017-07-08   78658  27.400000  24.900000          8.6                5
                6 2017-07-09     102  29.200001  23.600000         70.5                6
                6 2017-07-10  112780  25.299999  21.400000        123.7                0
                6 2017-07-11  134299  31.200001  24.799999          0.1                1
                6 2017-07-12  123082  30.600000  22.900000          0.0                2
                6 2017-07-13  123054  31.500000  26.200001          0.0                3

                            yhat
                0  120755.036393
                0   84789.924318
                0   10860.666074
                0   44200.656359
                0  135416.642112
                0  145565.632031
                0  130113.921460
                1  123691.026146
                1   84326.562682
                1    7768.893743
                1   40561.062278
                1  135342.048511
                1  161576.223406
                1  133549.752782
                2  123725.904314
                2   84362.447262
                2   12790.562665
                2   45363.835613
                2  141213.293364
                2  159726.798784
                2  135914.826331
                3  121633.711291
                3   89086.200591
                3   14321.148449
                3   44802.090684
                3  142189.474883
                3  156678.561890
                3  133177.166430
                4  125207.321700
                4   88652.293920
                4   11460.103102
                4   43011.116992
                4  140031.034801
                4  155250.805224
                4  129887.385635
                5  118948.372762
                5   84460.681331
                5    3983.887437
                5   37086.135740
                5  140360.040828
                5  152410.619616
                5  131285.978975
                6  127054.426631
                6   88775.552055
                6     758.199621
                6   48922.487462
                6  140172.630733
                6  153192.718431
                6  130304.128033  ,
                          ds       y   temp_max  temp_min  rain_amount  seasonality_7,3  \
                0 2017-03-17  135489  14.900000       4.8          0.0                4
                0 2017-03-18   64286  14.700000       3.1          0.0                5
                0 2017-03-19      76  17.100000       6.5          0.0                6
                0 2017-03-20  115555  13.700000       4.4          0.0                0
                0 2017-03-21  121287  12.200000       2.6          0.0                1
                0 2017-03-22  118105  12.900000       5.8          0.0                2
                0 2017-03-23  111978  12.700000       4.5          0.0                3
                1 2017-03-24  132693  13.400000       6.3          0.0                4
                1 2017-03-25   62476  11.400000       5.4          0.0                5
                1 2017-03-26      75  11.500000       4.9          0.0                6
                1 2017-03-27  112817   8.300000       2.5          0.8                0
                1 2017-03-28  124669  11.600000       4.3          0.0                1
                1 2017-03-29  128031  13.400000       3.4          0.0                2
                1 2017-03-30  113165  16.100000       9.9          0.3                3
                2 2017-03-31  117283  12.800000       5.1          2.6                4
                2 2017-04-01   70018  12.400000       2.8          0.0                5