In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta

In [2]:
import sys, os
sys.path.append(os.getcwd())

In [3]:
from _element import feature_control as ft_c, varr
# from _usecase import algorithm_prophet as prpt

In [4]:
df= ft_c.xlsx_opener('./_element/data/private/', 'KPP일별투입(10_17)_raw.xlsx')

In [5]:
df.head()

          ds      y
0 2010-07-01  79590
1 2010-07-02  79456
2 2010-07-03  48469
3 2010-07-04   1045
4 2010-07-05  65049

In [6]:
train_test_dict= ft_c.train_test(df)

In [11]:
train_test_dict[4]

{'test':              ds       y
 2416 2017-02-17  116907
 2417 2017-02-18   62986
 2418 2017-02-19      80
 2419 2017-02-20  107804
 2420 2017-02-21  110120
 2421 2017-02-22  109244
 2422 2017-02-23  111581, 'train':              ds       y
 0    2010-07-01   79590
 1    2010-07-02   79456
 2    2010-07-03   48469
 3    2010-07-04    1045
 4    2010-07-05   65049
 5    2010-07-06   84245
 6    2010-07-07   80493
 7    2010-07-08   73930
 8    2010-07-09   80166
 9    2010-07-10   49542
 10   2010-07-11    1411
 11   2010-07-12   67680
 12   2010-07-13   83587
 13   2010-07-14   73490
 14   2010-07-15   73332
 15   2010-07-16   74715
 16   2010-07-17   45526
 17   2010-07-18    1083
 18   2010-07-19   73816
 19   2010-07-20   87473
 20   2010-07-21   87970
 21   2010-07-22   76263
 22   2010-07-23   77157
 23   2010-07-24   48189
 24   2010-07-25     684
 25   2010-07-26   75731
 26   2010-07-27   87872
 27   2010-07-28   74544
 28   2010-07-29   72627
 29   2010-07-30   71448
 ...         ...     ...
 2386 2017-01-18  129416
 2387 2017-01-19  129409
 2388 2017-01-20  125530
 2389 2017-01-21   81672
 2390 2017-01-22      74
 2391 2017-01-23  122240
 2392 2017-01-24  133738
 2393 2017-01-25  152071
 2394 2017-01-26  112757
 2395 2017-01-27    5845
 2396 2017-01-28      12
 2397 2017-01-29      58
 2398 2017-01-30   13180
 2399 2017-01-31  103626
 2400 2017-02-01  121759
 2401 2017-02-02  118014
 2402 2017-02-03  126451
 2403 2017-02-04   61897
 2404 2017-02-05      60
 2405 2017-02-06  117071
 2406 2017-02-07  120040
 2407 2017-02-08  113670
 2408 2017-02-09  110130
 2409 2017-02-10  115670
 2410 2017-02-11   58727
 2411 2017-02-12      53
 2412 2017-02-13  105310
 2413 2017-02-14  113217
 2414 2017-02-15  115637
 2415 2017-02-16  110867

 [2416 rows x 2 columns]}