## 모든 공휴일 데이터를 event에 추가하기 위한 pickle 파일을 만드는 과정입니다.

공휴일 데이터는 skt api에서 참조하였습니다.

In [1]:
import urllib.request
import json

In [2]:
url= 'https://apis.sktelecom.com/v1/eventday/days?type=h&year=2018'
header= {'TDCProjectkey': 'de0836c9-99bd-4358-82cd-a62f55597bc3'}
req= urllib.request.Request(url, headers= header)

In [3]:
urldata= urllib.request.urlopen(req).read()

In [4]:
jsondata= json.loads(urldata)

* skt에서 받아온 공휴일 데이터입니다.

In [11]:
print(jsondata['results'])

[{'year': '2018', 'month': '01', 'day': '01', 'type': 'h', 'name': '신정'}, {'year': '2018', 'month': '02', 'day': '15', 'type': 'h', 'name': '설날연휴'}, {'year': '2018', 'month': '02', 'day': '16', 'type': 'h', 'name': '설날'}, {'year': '2018', 'month': '02', 'day': '17', 'type': 'h', 'name': '설날연휴'}, {'year': '2018', 'month': '03', 'day': '01', 'type': 'h', 'name': '삼일절'}, {'year': '2018', 'month': '05', 'day': '05', 'type': 'h', 'name': '어린이날'}, {'year': '2018', 'month': '05', 'day': '07', 'type': 'h', 'name': '대체공휴일'}, {'year': '2018', 'month': '05', 'day': '22', 'type': 'h', 'name': '석가탄신일'}, {'year': '2018', 'month': '06', 'day': '06', 'type': 'h', 'name': '현충일'}, {'year': '2018', 'month': '06', 'day': '13', 'type': 'h', 'name': '지방선거'}, {'year': '2018', 'month': '08', 'day': '15', 'type': 'h', 'name': '광복절'}, {'year': '2018', 'month': '09', 'day': '24', 'type': 'h', 'name': '추석'}, {'year': '2018', 'month': '09', 'day': '25', 'type': 'h', 'name': '추석연휴'}, {'year': '2018', 'month': '09', 'day': '26', 'type': 'h', 'name': '대체공휴일'}, {'year': '2018', 'month': '10', 'day': '03', 'type': 'h', 'name': '개천절'}, {'year': '2018', 'month': '10', 'day': '09', 'type': 'h', 'name': '한글날'}, {'year': '2018', 'month': '12', 'day': '25', 'type': 'h', 'name': '성탄절'}]

In [7]:
import os, sys
path_name= os.path.dirname(os.path.abspath(os.path.dirname(os.getcwd())))
sys.path.append(path_name)

C:\Studying\Project_Nextop\nextop-engine\nextop_engine

In [8]:
from _element import feature_control as ft_c
from _element import varr

C:\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [9]:
varr.HOLYDAYBETA

          ds       holiday  lower_window  upper_window
0 2011-02-03       newyear            -4             4
1 2012-01-23       newyear            -4             4
2 2013-02-10       newyear            -4             4
3 2014-01-31       newyear            -4             4
4 2015-02-19       newyear            -4             4
5 2016-02-09       newyear            -4             4
6 2017-02-28       newyear            -4             4
7 2018-02-16       newyear            -4             4
0 2010-09-22  thanksgiving            -4             4
1 2011-09-12  thanksgiving            -4             4
2 2012-09-30  thanksgiving            -4             4
3 2013-09-19  thanksgiving            -4             4
4 2014-09-09  thanksgiving            -4             4
5 2015-09-27  thanksgiving            -4             4
6 2016-09-15  thanksgiving            -4             4
7 2017-10-04  thanksgiving            -4             4
8 2018-09-24  thanksgiving            -4             4

* skt에서 받은 공휴일 데이터를 list로 정리합니다.

In [18]:
holidaylist= []
for i in range(2010, 2019):
    url= 'https://apis.sktelecom.com/v1/eventday/days?type=h&year={}'.format(i)
    req= urllib.request.Request(url, headers= header)
    urldata= urllib.request.urlopen(req).read()
    jsondata= json.loads(urldata)
    holidaylist.extend(['{}-{}-{}'.format(elmt['year'], elmt['month'], elmt['day'])
                       for elmt in jsondata['results']])
print(holidaylist)

['2014-01-01', '2014-01-30', '2014-01-31', '2014-02-01', '2014-03-01', '2014-05-05', '2014-05-06', '2014-06-04', '2014-06-06', '2014-08-15', '2014-09-07', '2014-09-08', '2014-09-09', '2014-10-03', '2014-10-09', '2014-12-25', '2015-01-01', '2015-02-18', '2015-02-19', '2015-02-20', '2015-03-01', '2015-05-05', '2015-05-25', '2015-06-06', '2015-08-15', '2015-09-26', '2015-09-27', '2015-09-28', '2015-10-03', '2015-10-09', '2015-12-25', '2016-01-01', '2016-02-07', '2016-02-08', '2016-02-09', '2016-03-01', '2016-04-13', '2016-05-05', '2016-05-06', '2016-06-06', '2016-08-15', '2016-09-14', '2016-09-15', '2016-09-16', '2016-10-03', '2016-10-09', '2016-12-25', '2017-01-01', '2017-01-27', '2017-01-28', '2017-01-29', '2017-03-01', '2017-05-03', '2017-05-05', '2017-05-09', '2017-06-06', '2017-08-15', '2017-10-02', '2017-10-03', '2017-10-03', '2017-10-04', '2017-10-05', '2017-10-09', '2017-12-25', '2018-01-01', '2018-02-15', '2018-02-16', '2018-02-17', '2018-03-01', '2018-05-05', '2018-05-07', '2018-05-22', '2018-06-06', '2018-06-13', '2018-08-15', '2018-09-24', '2018-09-25', '2018-09-26', '2018-10-03', '2018-10-09', '2018-12-25']

* 10년부터 13년까지의 공휴일은 skt api에서 제공하지 않으므로 수동으로 넣어 줍니다.

In [19]:
holidaylist.extend([
    '2010-01-01', '2010-02-13', '2010-02-14', '2010-02-15', '2010-03-01', 
    '2010-05-05', '2010-05-21', '2010-09-21', 
    '2010-09-22', '2010-09-23', '2010-12-25',
    '2011-01-01', '2011-02-02', '2011-02-03', '2011-02-04', '2011-03-01', 
    '2011-05-05', '2011-05-10', '2011-06-06', '2011-08-15', '2011-09-11', 
    '2011-09-12', '2011-09-13', '2011-10-03', '2011-12-25',
    '2012-01-01', '2012-01-22', '2012-01-23', '2012-01-24', '2012-03-01', 
    '2012-05-05', '2012-05-28', '2012-06-06', '2012-08-15', '2012-09-29', 
    '2012-09-30', '2012-10-01', '2012-10-03', '2012-12-25',
    '2013-01-01', '2013-02-09', '2013-02-10', '2013-02-11', '2013-03-01',
    '2013-05-05', '2013-05-17', '2013-06-06', '2013-08-15', '2013-09-18', 
    '2013-09-19', '2013-09-20', '2013-10-03', '2013-12-25'
])

In [25]:
holidaylist.sort()

In [27]:
import pickle
with open(path_name+'/_element/data/temp_data/reddays.pickle', 'wb') as f:
    pickle.dump(holidaylist, f)

In [29]:
with open(path_name+'/_element/data/temp_data/reddays.pickle', 'rb') as f:
    holidaylist= pickle.load(f)

* 노동자의 날을 추가합니다.

In [31]:
holidaylist.extend(
                ['2010-05-01', '2011-05-01', '2012-05-01', '2013-05-01', 
                '2014-05-01', '2015-05-01', '2016-05-01', '2017-05-01', '2018-05-01',])

In [32]:
holidaylist.sort()

In [34]:
with open(path_name+'/_element/data/temp_data/reddays.pickle', 'wb') as f:
    pickle.dump(holidaylist, f)